In [1]:
import numpy as np 
import pandas as pd 
from matplotlib import pyplot as plt 
import seaborn as sns 
from datetime import datetime, timedelta

In [ ]:
#R1764, R1762

# Read Files

In [2]:
pd.set_option('display.max_columns', None)

#Set to view all characters in column(default is 50, replace None with 50 once done viewing)
pd.set_option('display.max_colwidth', None)

faults_orig = pd.read_csv('../data/J1939Faults.csv', low_memory=False, parse_dates=['EventTimeStamp', 'LocationTimeStamp']) #1187335

#Make a copy to refer
faults = faults_orig
faults

,RecordID,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,faultValue,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp
0,1,990349,2015-02-21 10:47:13,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,0,111,17,True,2,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25
1,2,990360,2015-02-21 11:34:34,NaN,NaN,unknown,unknown,unknown,unknown,11,629,12,True,127,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10
2,3,990364,2015-02-21 11:35:31,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,False,127,NaN,1369,105336226,41.421250,-87.767361,2015-02-21 11:35:26
3,4,990370,2015-02-21 11:35:33,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,True,127,NaN,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08
4,5,990416,2015-02-21 11:39:41,NaN,NaN,22281684P01*22357957P01*22362082P01*,13063430,0USA13_13_0415_2238A,VOLVO,0,4364,17,False,2,NaN,1674,105427130,38.416481,-89.442638,2015-02-21 11:39:37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187330,1248454,123904424,2020-03-06 14:00:26,Low (Severity Low) Catalyst Tank Level,NaN,04384413*22383729*082218154102*60701732*G1*BGT*,80156139,6X1u17D1500000000,CMMNS,0,1761,17,False,3,NaN,2282,105439740,37.094768,-85.897407,2020-03-06 14:00:21
1187331,1248455,123905139,2020-03-06 14:04:23,Condition Exists Engine Protection Torque Derate,NaN,04358814*06099720*030816202706*09400153*G1*BDR*,79932020,6X1u13D1500000000,CMMNS,0,1569,31,True,5,NaN,1994,105354084,34.390740,-79.461805,2020-03-06 14:04:59
1187332,1248456,123905996,2020-03-06 14:13:38,Abnormal Rate of Change Aftertreatment 1 Intake NOx,NaN,05317106*05100987*050719120655*09401585*G1*BDR*,79880653,6X1u13D1500000000,CMMNS,0,3216,10,True,1,NaN,1850,105336308,34.430370,-84.920509,2020-03-06 14:14:14
1187333,1248457,123906113,2020-03-06 14:14:13,Low (Severity Medium) Engine Coolant Level,NaN,04384413*22544852*090619141107*60701756*G1*BGT*,NaN,NaN,NaN,0,111,18,True,8,NaN,2377,108605700,35.030925,-85.321527,2020-03-06 14:14:49
1187334,1248458,123906131,2020-03-06 14:15:34,Low (Severity Medium) Engine Coolant Level,NaN,04384413*22544852*090619141107*60701756*G1*BGT*,NaN,NaN,NaN,0,111,18,False,8,NaN,2377,108605700,35.027314,-85.323472,2020-03-06 14:15:30

In [ ]:

faults.info()

## 2 - Vehicle Onboard Data

In [3]:
vdod_orig = pd.read_csv('../data/VehicleDiagnosticOnboardData.csv')
vdod = vdod_orig

# Create a wider table from long table, and drop the Name 
vdod = vdod.pivot(index="FaultId", columns="Name", values="Value").reset_index()
vdod

Name,FaultId,AcceleratorPedal,BarometricPressure,CruiseControlActive,CruiseControlSetSpeed,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,EngineRpm,EngineTimeLtd,FuelLevel,FuelLtd,FuelRate,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure
0,1,0,14.21,False,66.48672,423178.7,100.4,11,0,96.74375,0,1632.2,43.2,12300.907429328,0,NaN,False,78.8,1023,True,NaN,0,3276.75,NaN,0
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16639,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187330,1248454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN,NaN
1187331,1248455,100,14.5,True,64.6226,423937.9,185,51,37.12,211.4937,1310.25,10722.7,96.4,58979.184415546,7.647805,32,True,98.6,18431,False,NaN,65.01096,NaN,73.2,7.83
1187332,1248456,0,14.355,True,66.48672,465925.4,186.8,62,41.18,212.8438,1340.75,9326.75,100,65080.10587046,8.995086,NaN,True,91.4,17407,NaN,NaN,66.5741,NaN,100,6.96
1187333,1248457,1.6,14.4275,False,67.72946,28606.65625,181.4,0,27.26,221.7312,863.25,586.75,23.6,4042.49282573,0,NaN,True,100.4,1023,False,NaN,11.84489,14.1,100,1.74
1187334,1248458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN,NaN

### 3 Service Fault Codes

In [4]:
fc = pd.read_excel('../data/Service Fault Codes_1_0_0_167.xlsx')
fc

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,Published in CES 14602,Cummins Fault Code,Revision,PID,SID,MID,J1587 FMI,SPN,J1939 FMI,J2012 Pcode,Lamp Color,Lamp Device,Cummins Description,Algorithm Description
0,Y,111,167,Not Mapped,254,0,12,629,12,P0606,Red,Stop / Shutdown,Engine Control Module Critical Internal Failure - Bad Intelligent Device or Component,Error internal to the ECM related to memory hardware failures or internal ECM voltage supply circuits.
1,Y,112,167,Not Mapped,20,128,7,635,7,Not Mapped,Red,Stop / Shutdown,Engine Timing Actuator Driver Circuit - Mechanical System Not Responding or Out of Adjustment,Mechanical failure in the engine timing actuator driver circuit.
2,Y,113,167,Not Mapped,20,128,3,635,3,Not Mapped,Amber,Warning,Engine Timing Actuator Driver Circuit - Voltage Above Normal or Shorted to High Source,High signal voltage detected at the engine timing actuator driver circuit
3,Y,114,167,Not Mapped,20,128,4,635,4,Not Mapped,Amber,Warning,Engine Timing Actuator Driver Circuit - Voltage Below Normal or Shorted to Low Source,Low voltage detected at the engine timing actuator driver circuit.
4,Y,115,167,190,Not Mapped,Not Mapped,2,612,2,P0008,Red,Stop / Shutdown,"Engine Magnetic Speed/Position Lost Both of Two Signals - Data Erratic, Intermittent, or Incorrect",The ECM has detected that the primary and backup speed sensor signals are connected backwards.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7119,Y,9996,167,Not Mapped,155,0,11,524286,31,Not Mapped,Amber,Warning,Reserved for temporary use - Condition Exists,NaN
7120,Y,9997,167,Not Mapped,155,0,11,524286,31,Not Mapped,Amber,Warning,Reserved for temporary use - Condition Exists,NaN
7121,Y,9998,167,Not Mapped,155,0,11,524286,31,Not Mapped,Amber,Warning,Reserved for temporary use - Condition Exists,NaN
7122,Y,9999,167,Not Mapped,155,0,11,524286,31,Not Mapped,Amber,Warning,Reserved for temporary use - Condition Exists,NaN
7123,Y,12345,167,Not Mapped,155,0,11,524286,31,Not Mapped,Amber,Warning,Reserved for Testing 5 digit FC - Condition Exists,NaN

# Data Prep

In [5]:
#Merge faults and vehicle dignostic tables
faults = pd.merge(faults, vdod, left_on='RecordID', right_on='FaultId')

In [ ]:
faults # 1187335 rows × 45 columns

## Clean up faults data

In [6]:
#Remove faults where the EquipmentID has more than 5 characters.
faults = (
    faults.drop(['actionDescription', 'faultValue'], axis=1)
    [faults['EquipmentID'].str.len() <= 5]
)

In [7]:
for lat, lon in [(36.0666667, -86.4347222), (35.5883333, -86.4438888), (36.1950, -83.174722)]:
    
    faults = faults.loc[~((abs(lat - faults['Latitude']) <= 0.01) &
                          (abs(lon - faults['Longitude']) <= 0.01))]

In [8]:
faults = faults.loc[faults['EventTimeStamp'].dt.year > 2011]

In [9]:
#remove the rows where active = False
faults = faults.loc[faults['active'] == True]

In [10]:
#Create new column EventTimeStamp_DateOnly with only date part
faults['EventTimeStamp_DateOnly']= faults['EventTimeStamp'].dt.date 
faults['LocationTimeStamp_DateOnly']= faults['LocationTimeStamp'].dt.date 

faults['EventTimeStamp_DateOnly'] = pd.to_datetime(faults['EventTimeStamp_DateOnly'])
faults['LocationTimeStamp_DateOnly'] = pd.to_datetime(faults['LocationTimeStamp_DateOnly'])

In [11]:
#Filter out 'R1762', 'R1764'
faults = faults[~faults[['EquipmentID']].isin(['R1762', 'R1764']).any(axis=1)]

In [12]:
#faults = faults.astype({'EquipmentID': 'int'})
faults.sort_values(by='EquipmentID',ascending=False)

,RecordID,ESS_Id,EventTimeStamp,eventDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp,FaultId,AcceleratorPedal,BarometricPressure,CruiseControlActive,CruiseControlSetSpeed,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,EngineRpm,EngineTimeLtd,FuelLevel,FuelLtd,FuelRate,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure,EventTimeStamp_DateOnly,LocationTimeStamp_DateOnly
144504,146890,3805561,2015-08-01 10:40:13,Incorrect Data J1939 Network #1 Primary Vehicle Network ( previously SAE J1939 Data Link),unknown,unknown,unknown,unknown,11,639,2,True,127,310,105442984,36.239722,-86.773888,2015-08-01 10:40:49,146890,77.6,14.4275,False,66.48672,93721.44,181.4,79,42.34,198.725,1499.125,2165.65,69.2,12970.583581148,13.51244,32,True,150.8,1279,False,NaN,6.339928,3276.75,0,4.06,2015-08-01,2015-08-01
401648,409149,7882502,2016-03-08 00:47:59,Condition Exists Engine Protection Torque Derate,05317106*04133655*051914190353*09400015*G1*BDR*,79756075,6X1u13D1500000000,CMMNS,0,1569,31,True,126,310,105442984,35.933009,-86.540092,2016-03-08 00:48:36,409149,0,14.5,False,64.6226,135934.7,181.4,9,28.42,186.2375,602.5,3510.5,63.2,18529.423985358,0.4490939,32,True,134.6,2047,False,NaN,1.961203,NaN,0,0.58,2016-03-08,2016-03-08
994817,1030975,53580417,2018-06-28 22:03:41,Condition Exists Engine Protection Torque Derate,05317106*04133655*061416163421*09401361*G1*BDR*,79756075,6X1u13D1500000000,CMMNS,0,1569,31,True,1,310,105442984,35.479490,-86.458703,2018-06-28 22:04:16,1030975,62,14.2825,False,64.6226,272605.8,186.8,58,38.86,209.8625,1322.5,8048.3,23.2,36734.44469086,9.853648,NaN,True,111.2,18431,False,NaN,24.67038,NaN,100,10.44,2018-06-28,2018-06-28
994816,1030974,53580032,2018-06-28 21:51:13,NaN,05317106*04133655*061416163421*09401361*G1*BDR*,79756075,6X1u13D1500000000,CMMNS,0,5394,5,True,2,310,105442984,35.577592,-86.443148,2018-06-28 21:51:50,1030974,73.2,14.2825,False,64.6226,272598.7,190.4,76,38.86,205.4187,1302.125,8048.1,26.4,36733.652174704,14.10683,NaN,True,129.2,17407,False,NaN,33.80648,NaN,100,20.01,2018-06-28,2018-06-28
789568,809125,18215453,2017-06-16 14:39:04,Incorrect Data J1939 Network #1 Primary Vehicle Network ( previously SAE J1939 Data Link),BB41103* BB41104*,S211411637,EC60-adv,BNDWS,11,639,2,True,127,310,105442984,35.264120,-86.398703,2017-06-16 14:39:40,809125,39.6,14.21,False,59.65163,221996.6,183.2,32,39.44,208.4563,1193,6360.45,54,30052.608893598,4.398478,32,True,147.2,1279,False,NaN,4.446688,NaN,0,4.93,2017-06-16,2017-06-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63809,65879,2610228,2015-05-26 08:11:45,Abnormal Update Rate Aftertreatment 1 Intake NOx,04993120*00001782*082113134117*07700053*I0*BBZ*,79419774,6X1u10D1500000000,CMMNS,0,3216,9,True,1,1327,105383198,35.490787,-86.433842,2015-05-21 14:40:18,65879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,2015-05-26,2015-05-21
63869,65939,2611189,2015-05-26 08:44:10,Abnormal Update Rate Aftertreatment 1 Intake NOx,04993120*00001782*082113134117*07700053*I0*BBZ*,79419774,6X1u10D1500000000,CMMNS,0,3216,9,True,1,1327,105383198,35.523703,-86.440787,2015-05-26 08:52:22,65939,48.8,14.355,False,64.6226,520314.6,161.6,45,38.86,154.5125,1170,10375.15,NaN,79275.39108468,4.530565,NaN,True,100.4,17407,False,NaN,28.79667,3276.75,NaN,6.67,2015-05-26,2015-05-26
41577,42689,2241022,2015-05-04 15:38:35,NaN,unknown,unknown,unknown,unknown,49,50353,0,True,2,1327,105383198,35.988750,-83.579583,2015-05-04 15:39:11,42689,100,14.2825,False,62.13712,517711.8,183.2,90,33.64,216.6125,1359.125,10323.1,NaN,78862.886425482,16.85423,NaN,True,113,2,False,NaN,64.68085,3276.75,NaN,26.39,2015-05-04,2015-05-04
44555,45667,2296851,2015-05-07 06:52:14,Condition Exists Cruise Control Enable Switch,unknown,unknown,unknown,unknown,49,596,31,True,126,1327,105383198,40.197500,-74.661435,2015-05-07 06:52:50,45667,0,14.79,False,64.6226,518554.7,185,14,25.52,165.875,648.375,10338.7,NaN,78990.877784676,0.7661014,NaN,True,102.2,255,False,NaN,0,3276.75,NaN,1.74,2015-05-07,2015-05-07
56739,58809,2507532,2015-05-19 12:02:55,Abnormal Update Rate Aftertreatment 1 Intake NOx,04993120*00001782*082113134117*07700053*I0*BBZ*,79419774,6X1u10D1500000000,CMMNS,0,3216,9,True,1,1327,105383198,35.491250,-86.458842,2015-05-19 12:03:32,58809,11.6,14.355,False,64.6226,520309.6,185,0,31.9,203.8438,1083.125,10374.8,NaN,79274.466482498,0,NaN,True,109.4,17407,False,NaN,27.56364,3276.75,NaN,2.9,2015-05-19,2015-05-19

In [ ]:
faults

In [ ]:
#View the new date columns 
faults.info()

# EDA

In [ ]:
all_trucks = faults['EquipmentID'].unique()
partial_derate = faults.loc[(faults['spn'] == 1569) & (faults['fmi'] == 31)]['EquipmentID'].unique()
total_derate = faults.loc[faults['spn'] == 5246]['EquipmentID'].unique()

partial_derate_only = partial_derate[np.isin(partial_derate, total_derate, invert=True)]
total_derate_only = total_derate[np.isin(total_derate, partial_derate, invert=True)]
partial_and_total_derate = np.intersect1d(partial_derate, total_derate)
no_derate = all_trucks[np.isin(all_trucks, partial_derate_only, invert=True) | np.isin(all_trucks, total_derate_only, invert=True)]

In [ ]:
print("partial_derate_only = " + str(len(partial_derate_only)))
print("total_derate_only = " + str(len(total_derate_only)))
print("partial_and_total_derate = " + str(len(partial_and_total_derate)))
print("no_derate = " + str(len(no_derate)))

## Find vehicle EquipmentID for which the derate has happened

In [ ]:
#df_faults =faults[faults['EquipmentID'].isin(uEQ)]

In [13]:
df_faults = faults

### Sort faults in descending order

In [15]:
#df_faults['EventTimeStamp_DateOnly'] = pd.to_datetime(df_faults['EventTimeStamp_DateOnly'])
df_faults= (
    faults.groupby(['EquipmentID','EventTimeStamp','RecordID' ,'EventTimeStamp_DateOnly','active', 'spn', 'fmi'])
    .size().reset_index(name='count')
    .sort_values(by=['EquipmentID','EventTimeStamp','RecordID' ], ascending = [False, False, False])
)
df_faults.head(30)

#df_faults.to_csv('Faults_BeforeFilter.csv')

,EquipmentID,EventTimeStamp,RecordID,EventTimeStamp_DateOnly,active,spn,fmi,count
546669,310,2019-11-12 00:24:39,1214360,2019-11-12,True,639,2,1
546668,310,2019-11-12 00:16:41,1214372,2019-11-12,True,789,2,1
546667,310,2019-11-12 00:16:41,1214347,2019-11-12,True,789,2,1
546666,310,2019-10-09 23:32:35,1204894,2019-10-09,True,639,2,1
546665,310,2018-11-21 20:57:59,1083465,2018-11-21,True,639,2,1
546664,310,2018-11-15 22:25:55,1080200,2018-11-15,True,639,2,1
546663,310,2018-09-27 23:28:08,1061440,2018-09-27,True,639,2,1
546662,310,2018-09-26 18:48:20,1060923,2018-09-26,True,639,2,1
546661,310,2018-09-06 00:34:32,1053258,2018-09-06,True,639,2,1
546660,310,2018-08-22 17:00:21,1049357,2018-08-22,True,639,2,1
546659,310,2018-08-01 23:31:05,1042126,2018-08-01,True,639,2,1
546658,310,2018-07-26 20:26:38,1040290,2018-07-26,True,639,2,1
546657,310,2018-07-17 20:40:30,1037420,2018-07-17,True,639,2,1
546656,310,2018-07-10 19:26:19,1034341,2018-07-10,True,639,2,1
546655,310,2018-07-04 01:41:34,1032383,2018-07-04,True,639,2,1
546654,310,2018-07-03 20:49:24,1032353,2018-07-03,True,639,2,1
546653,310,2018-06-28 22:03:41,1030975,2018-06-28,True,1569,31,1
546652,310,2018-06-28 21:51:13,1030974,2018-06-28,True,5394,5,1
546651,310,2018-06-05 20:09:14,1021420,2018-06-05,True,97,16,1
546650,310,2018-06-05 08:45:17,1021236,2018-06-05,True,97,16,1
546649,310,2018-06-04 18:14:39,1021099,2018-06-04,True,5394,5,1
546648,310,2018-05-29 23:32:03,1018830,2018-05-29,True,97,15,1
546647,310,2018-05-24 19:59:32,1017374,2018-05-24,True,639,2,1
546646,310,2018-05-23 19:34:55,1017021,2018-05-23,True,789,2,1
546645,310,2018-05-22 17:27:54,1016600,2018-05-22,True,5394,7,1
546644,310,2018-05-22 17:23:46,1016597,2018-05-22,True,639,2,1
546643,310,2018-05-17 20:42:11,1014923,2018-05-17,True,639,2,1
546642,310,2018-05-17 18:26:49,1014856,2018-05-17,True,789,2,1
546641,310,2018-05-16 02:06:35,1014060,2018-05-16,True,789,2,1
546640,310,2018-05-11 01:01:07,1011544,2018-05-11,True,789,2,1

# function to filter faults dataframe.
### This will filter the data by looking up SPN=1569 and fmi= 3, and then will traverse in by picking the spn which occured prio with in the date window specified

In [40]:
def  GetFilteredSPNbyDays(df_faults, windowTimeframeUnit, day_window):
    df_new = pd.DataFrame(columns = ['RecordID','EquipmentID', 'EventTimeStamp','EventTimeStamp_DateOnly','active', 'spn', 'fmi','PartialDerate', 'target'])  
    #print(df_new)
    df_new = df_new.astype({'EquipmentID': 'int'})
    dts_evt = ""
    dts_evt_max=""

    hasDerate = False
    # loop through rows of original dataframe and assign new values to columns of new dataframe
    for index, row in df_faults.iterrows():
        if((row['spn'] == 1569) & (row['fmi'] == 31)):  
            if(hasDerate == False):
                hasDerate = True
                df_new.loc[index, 'PartialDerate'] = 1
                df_new.loc[index, 'target'] = 0
                dts_evt = row['EventTimeStamp'] 
                #dts_evt_max = dts_evt - timedelta(days=day_window)
                if(windowTimeframeUnit == "hours"):                   
                    dts_evt_max = dts_evt - timedelta(hours=day_window)
                    #print("hours = dts_evt_max= " + str(dts_evt_max))
                elif(windowTimeframeUnit == "days"):                   
                    dts_evt_max = dts_evt - timedelta(days=day_window)
                    #print("days = dts_evt_max= " + str(dts_evt_max))
                #add cols
                df_new.loc[index, 'RecordID'] = row['RecordID']
                df_new.loc[index, 'EquipmentID'] = row['EquipmentID']
                df_new.loc[index, 'EventTimeStamp'] = row['EventTimeStamp']
                df_new.loc[index, 'EventTimeStamp_DateOnly'] = row['EventTimeStamp_DateOnly'] 
                df_new.loc[index, 'active'] = row['active']
                df_new.loc[index, 'spn'] = row['spn']
                df_new.loc[index, 'fmi'] = row['fmi']

        else:
            if(dts_evt_max != ""):
 
                if((row['EventTimeStamp'] > dts_evt_max)  ) :
                    #print('EventTimeStamp > dts_evt_max' + str(dts_evt_max) + " ---- " + str(row['EventTimeStamp_DateOnly']))
                    df_new.loc[index, 'PartialDerate'] = 0 
                    df_new.loc[index, 'target'] = 1
                    df_new.loc[index, 'RecordID'] = row['RecordID']
                    df_new.loc[index, 'EquipmentID'] = row['EquipmentID']
                    df_new.loc[index, 'EventTimeStamp'] = row['EventTimeStamp']
                    df_new.loc[index, 'EventTimeStamp_DateOnly'] = row['EventTimeStamp_DateOnly'] 
                    df_new.loc[index, 'active'] = row['active']
                    df_new.loc[index, 'spn'] = row['spn']
                    df_new.loc[index, 'fmi'] = row['fmi']
                else:
                    #print('ELSE  ' + str(dts_evt_max)+ " ---- " +  str(row['EventTimeStamp_DateOnly']))
                    hasDerate = False
                    dts_evt = ""
                    dts_evt_max = ""
    #print(df_new) 
    return df_new

In [41]:
# Test by passing 1000 rows and 3 days lookup timeframe
dfW= GetFilteredSPNbyDays(df_faults.head(1000), 'days',3)
print(dfW)

       RecordID EquipmentID       EventTimeStamp EventTimeStamp_DateOnly  \
546653  1030975         310  2018-06-28 22:03:41     2018-06-28 00:00:00
546652  1030974         310  2018-06-28 21:51:13     2018-06-28 00:00:00
546566   876806         310  2017-09-22 02:49:53     2017-09-22 00:00:00
546390   409149         310  2016-03-08 00:47:59     2016-03-08 00:00:00
546389   409125         310  2016-03-07 22:01:15     2016-03-07 00:00:00
546337   131948         310  2015-07-22 10:20:59     2015-07-22 00:00:00
546336   131947         310  2015-07-22 10:20:59     2015-07-22 00:00:00
546325    49403         310  2015-05-11 12:52:51     2015-05-11 00:00:00
545868   982066         309  2018-03-12 15:50:29     2018-03-12 00:00:00
545866   981898         309  2018-03-12 11:31:45     2018-03-12 00:00:00
545865   981897         309  2018-03-12 11:31:45     2018-03-12 00:00:00

       active   spn fmi PartialDerate target
546653   True  1569  31             1      0
546652   True  5394   5             0      1
546566   True  1569  31             1      0
546390   True  1569  31             1      0
546389   True   639   2             0      1
546337   True  1569  31             1      0
546336   True   641  31             0      1
546325   True  1569  31             1      0
545868   True  1569  31             1      0
545866   True  6802  31             0      1
545865   True  4340   5             0      1

In [43]:
# Test by passing 1000 rows and 2 hours lookup timeframe
dfW= GetFilteredSPNbyDays(df_faults.head(1000), 'hours',6)
print(dfW)

       RecordID EquipmentID       EventTimeStamp EventTimeStamp_DateOnly  \
546653  1030975         310  2018-06-28 22:03:41     2018-06-28 00:00:00
546652  1030974         310  2018-06-28 21:51:13     2018-06-28 00:00:00
546566   876806         310  2017-09-22 02:49:53     2017-09-22 00:00:00
546390   409149         310  2016-03-08 00:47:59     2016-03-08 00:00:00
546389   409125         310  2016-03-07 22:01:15     2016-03-07 00:00:00
546337   131948         310  2015-07-22 10:20:59     2015-07-22 00:00:00
546336   131947         310  2015-07-22 10:20:59     2015-07-22 00:00:00
546325    49403         310  2015-05-11 12:52:51     2015-05-11 00:00:00
545868   982066         309  2018-03-12 15:50:29     2018-03-12 00:00:00
545866   981898         309  2018-03-12 11:31:45     2018-03-12 00:00:00
545865   981897         309  2018-03-12 11:31:45     2018-03-12 00:00:00

       active   spn fmi PartialDerate target
546653   True  1569  31             1      0
546652   True  5394   5             0      1
546566   True  1569  31             1      0
546390   True  1569  31             1      0
546389   True   639   2             0      1
546337   True  1569  31             1      0
546336   True   641  31             0      1
546325   True  1569  31             1      0
545868   True  1569  31             1      0
545866   True  6802  31             0      1
545865   True  4340   5             0      1

In [ ]:
#eyeball the dataframe
#df_faults.to_csv('df_faults.csv')

In [ ]:
#df4= faults.merge(dfW, on='RecordID', how='left', indicator=True)
#df4

In [18]:
#get the filtered SPN  
df_filtered = pd.DataFrame()
for chunk in pd.read_csv("df_faults.csv", chunksize=5000,parse_dates=['EventTimeStamp']):
    dfW = GetFilteredSPNbyDays(chunk, 3)
    #print(dfW)
    df_filtered = pd.concat([df_filtered,dfW])

C:\Users\kalea\AppData\Local\Temp\ipykernel_16048\3165312300.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df_filtered = pd.concat([df_filtered,dfW])
C:\Users\kalea\AppData\Local\Temp\ipykernel_16048\3165312300.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df_filtered = pd.concat([df_filtered,dfW])
C:\Users\kalea\AppData\Local\Temp\ipykernel_16048\3165312300.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df_filtered = pd.concat([df_filtered,dfW])
C:\Users\kalea\AppData\Local\Temp\ipykernel_16048\3165312300.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df_filtered = pd.concat([df_filtered,dfW])
C:\Users\kalea\AppData\Local\Temp\ipykernel_16048\3165312300.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df_filtered = pd.concat([df_filtered,dfW])
C:\Users\kalea\AppData\Local\Temp\ipykernel_16048\3165312300.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df_filtered = pd.concat([df_filtered,dfW])
C:\Users\kalea\AppData\Local\Temp\ipykernel_16048\3165312300.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df_filtered = pd.concat([df_filtered,dfW])
C:\Users\kalea\AppData\Local\Temp\ipykernel_16048\3165312300.py:6: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df_filtered = pd.concat([df_filtered,dfW])

In [19]:
df_filtered

,RecordID,EquipmentID,EventTimeStamp,EventTimeStamp_DateOnly,active,spn,fmi,PartialDerate,target
16,1030975,310.0,2018-06-28 22:03:41,2018-06-28,True,1569,31,1,0
17,1030974,310.0,2018-06-28 21:51:13,2018-06-28,True,5394,5,0,1
103,876806,310.0,2017-09-22 02:49:53,2017-09-22,True,1569,31,1,0
279,409149,310.0,2016-03-08 00:47:59,2016-03-08,True,1569,31,1,0
280,409125,310.0,2016-03-07 22:01:15,2016-03-07,True,639,2,0,1
...,...,...,...,...,...,...,...,...,...
546665,65939,1327.0,2015-05-26 08:44:10,2015-05-26,True,3216,9,0,1
546666,65879,1327.0,2015-05-26 08:11:45,2015-05-26,True,3216,9,0,1
546667,58809,1327.0,2015-05-19 12:02:55,2015-05-19,True,3216,9,0,1
546668,45667,1327.0,2015-05-07 06:52:14,2015-05-07,True,596,31,0,1
546669,42689,1327.0,2015-05-04 15:38:35,2015-05-04,True,50353,0,0,1

In [20]:
#save the dataframe to compare with the one in prior step to visually compare few rows
df_filtered.to_csv('Faults_dfW_filtered.csv')

In [21]:
#Merge the filtered SPN with the original faults dataframe
faults_filtered =faults.merge(dfW, on='RecordID', how='left', indicator=True)

In [22]:
faults_filtered

,RecordID,ESS_Id,EventTimeStamp_x,eventDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn_x,fmi_x,active_x,activeTransitionCount,EquipmentID_x,MCTNumber,Latitude,Longitude,LocationTimeStamp,FaultId,AcceleratorPedal,BarometricPressure,CruiseControlActive,CruiseControlSetSpeed,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,EngineRpm,EngineTimeLtd,FuelLevel,FuelLtd,FuelRate,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure,EventTimeStamp_DateOnly_x,LocationTimeStamp_DateOnly,EquipmentID_y,EventTimeStamp_y,EventTimeStamp_DateOnly_y,active_y,spn_y,fmi_y,PartialDerate,target,_merge
0,1,990349,2015-02-21 10:47:13,Low (Severity Low) Engine Coolant Level,unknown,unknown,unknown,unknown,0,111,17,True,2,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25,1,0,14.21,False,66.48672,423178.7,100.4,11,0,96.74375,0,1632.2,43.2,12300.907429328,0,NaN,False,78.8,1023,True,NaN,0,3276.75,NaN,0,2015-02-21,2015-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,2,990360,2015-02-21 11:34:34,NaN,unknown,unknown,unknown,unknown,11,629,12,True,127,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN,2015-02-21,2015-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,4,990370,2015-02-21 11:35:33,Incorrect Data Steering Wheel Angle,unknown,unknown,unknown,unknown,11,1807,2,True,127,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN,2015-02-21,2015-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,6,990431,2015-02-21 11:40:22,Low (Severity Low) Engine Coolant Level,04993120*00025921*082113134117*07700053*I0*BBZ*,79466580,6X1u10D1500000000,CMMNS,0,111,17,True,1,1417,105438630,33.043564,-96.179722,2015-02-21 11:40:59,6,48,14.4275,False,64.6226,470381.4,181.4,30,38.28,196.5313,1514.5,9480,44,70349.809963756,4.583399,NaN,True,111.2,1023,NaN,NaN,13.6022,3276.75,NaN,6.67,2015-02-21,2015-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,7,990439,2015-02-21 11:40:52,Low (Severity Low) Engine Coolant Level,unknown,unknown,unknown,unknown,0,111,17,True,2,1597,105344243,36.902916,-86.436481,2015-02-21 11:41:29,7,82.8,14.2825,False,64.6226,278736.7,188.6,80,39.44,210.0313,1711.375,6292.2,64.8,40961.065436834,14.29175,NaN,True,78.8,1023,NaN,NaN,41.53478,3276.75,NaN,20.59,2015-02-21,2015-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546665,1248448,123899434,2020-03-06 13:12:43,High Voltage (Fuel Level),NaN,NaN,CECU3B-NAMUX4,PACCR,49,96,3,True,126,1936,105355619,30.376851,-81.744953,2020-03-06 13:29:33,1248448,0,14.645,False,66.48672,391932.6,181.4,11,22.62,197.6,597.375,8016.75,60,51466.131256666,0.6208063,NaN,True,120.2,1279,False,NaN,0.9417657,NaN,100,1.16,2020-03-06,2020-03-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
546666,1248452,123901805,2020-03-06 13:42:48,Low (Severity Medium) Engine Coolant Level,04358814*06030918*051718174436*09401683*G1*BDR*,79904453,6X1u13D1500000000,CMMNS,0,111,18,True,93,1886,105351219,39.015694,-77.031157,2020-03-06 13:43:24,1248452,0,14.355,False,66.48672,457529.7,181.4,11,19.72,207.2188,600.25,13047.05,62,64491.926796682,0.5151371,NaN,True,104,2047,False,NaN,5.932153,NaN,100,0.58,2020-03-06,2020-03-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
546667,1248455,123905139,2020-03-06 14:04:23,Condition Exists Engine Protection Torque Derate,04358814*06099720*030816202706*09400153*G1*BDR*,79932020,6X1u13D1500000000,CMMNS,0,1569,31,True,5,1994,105354084,34.390740,-79.461805,2020-03-06 14:04:59,1248455,100,14.5,True,64.6226,423937.9,185,51,37.12,211.4937,1310.25,10722.7,96.4,58979.184415546,7.647805,32,True,98.6,18431,False,NaN,65.01096,NaN,73.2,7.83,2020-03-06,2020-03-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
546668,1248456,123905996,2020-03-06 14:13:38,Abnormal Rate of Change Aftertreatment 1 Intake NOx,05317106*05100987*050719120655*09401585*G1*BDR*,79880653,6X1u13D1500000000,CMMNS,0,3216,10,True,1,1850,105336308,34.430370,-84.920509,2020-03-06 14:14:14,1248456,0,14.355,True,66.48672,465925.4,186.8,62,41.18,212.8438,1340.75,9326.75,100,65080.10587046,8.995086,NaN,True,91.4,17407,NaN,NaN,66.5741,NaN,100,6.96,2020-03-06,2020-03-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
546669,1248457,123906113,2020-03-06 14:14:13,Low (Severity Medium) Engine Coolant Level,04384413*22544852*090619141107*60701756*G1*BGT*,NaN,NaN,NaN,0,111,18,True,8,2377,108605700,35.030925,-85.321527,2020-03-06 14:14:49,1248457,1.6,14.4275,False,67.72946,28606.65625,181.4,0,27.26,221.7312,863.25,586.75,23.6,4042.49282573,0,NaN,True,100.4,1023,False,NaN,11.84489,14.1,100,1.74,2020-03-06,2020-03-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [37]:
def  GetFilteredSPNbyDays(df_faults, windowTimeframeUnit, day_window):
    df_new = pd.DataFrame(columns = ['RecordID','EquipmentID', 'EventTimeStamp','EventTimeStamp_DateOnly','active', 'spn', 'fmi','PartialDerate', 'target'])  
    #print(df_new)
    df_new = df_new.astype({'EquipmentID': 'int'})
    dts_evt = ""
    dts_evt_max=""

    hasDerate = False
    # loop through rows of original dataframe and assign new values to columns of new dataframe
    for index, row in df_faults.iterrows():
        if((row['spn'] == 1569) & (row['fmi'] == 31)):  
            if(hasDerate == False):
                hasDerate = True
                df_new.loc[index, 'PartialDerate'] = 1
                df_new.loc[index, 'target'] = 0
                dts_evt = row['EventTimeStamp'] 
                #dts_evt_max = dts_evt - timedelta(days=day_window)
                if(windowTimeframeUnit == "hours"):                   
                    dts_evt_max = dts_evt - timedelta(hours=day_window)
                    #print("hours = dts_evt_max= " + str(dts_evt_max))
                elif(windowTimeframeUnit == "days"):                   
                    dts_evt_max = dts_evt - timedelta(days=day_window)
                    #print("days = dts_evt_max= " + str(dts_evt_max))
                #add cols
                df_new.loc[index, 'RecordID'] = row['RecordID']
                df_new.loc[index, 'EquipmentID'] = row['EquipmentID']
                df_new.loc[index, 'EventTimeStamp'] = row['EventTimeStamp']
                df_new.loc[index, 'EventTimeStamp_DateOnly'] = row['EventTimeStamp_DateOnly'] 
                df_new.loc[index, 'active'] = row['active']
                df_new.loc[index, 'spn'] = row['spn']
                df_new.loc[index, 'fmi'] = row['fmi']

        else:
            if(dts_evt_max != ""):
 
                if((row['EventTimeStamp'] > dts_evt_max)  ) :
                    #print('EventTimeStamp > dts_evt_max' + str(dts_evt_max) + " ---- " + str(row['EventTimeStamp_DateOnly']))
                    df_new.loc[index, 'PartialDerate'] = 0 
                    df_new.loc[index, 'target'] = 1
                    df_new.loc[index, 'RecordID'] = row['RecordID']
                    df_new.loc[index, 'EquipmentID'] = row['EquipmentID']
                    df_new.loc[index, 'EventTimeStamp'] = row['EventTimeStamp']
                    df_new.loc[index, 'EventTimeStamp_DateOnly'] = row['EventTimeStamp_DateOnly'] 
                    df_new.loc[index, 'active'] = row['active']
                    df_new.loc[index, 'spn'] = row['spn']
                    df_new.loc[index, 'fmi'] = row['fmi']
                else:
                    #print('ELSE  ' + str(dts_evt_max)+ " ---- " +  str(row['EventTimeStamp_DateOnly']))
                    hasDerate = False
                    dts_evt = ""
                    dts_evt_max = ""
    #print(df_new) 
    return df_new

In [39]:
# Test by passing 1000 rows and 3 days lookup timeframe
dfW= GetFilteredSPNbyDays(df_faults.head(1000), "hours", 1)
print(dfW)

hours = dts_evt_max= 2018-06-28 21:03:41
hours = dts_evt_max= 2017-09-22 01:49:53
hours = dts_evt_max= 2016-03-07 23:47:59
hours = dts_evt_max= 2015-07-22 09:20:59
hours = dts_evt_max= 2015-05-11 11:52:51
hours = dts_evt_max= 2018-03-12 14:50:29
       RecordID EquipmentID       EventTimeStamp EventTimeStamp_DateOnly  \
546653  1030975         310  2018-06-28 22:03:41     2018-06-28 00:00:00
546652  1030974         310  2018-06-28 21:51:13     2018-06-28 00:00:00
546566   876806         310  2017-09-22 02:49:53     2017-09-22 00:00:00
546390   409149         310  2016-03-08 00:47:59     2016-03-08 00:00:00
546337   131948         310  2015-07-22 10:20:59     2015-07-22 00:00:00
546336   131947         310  2015-07-22 10:20:59     2015-07-22 00:00:00
546325    49403         310  2015-05-11 12:52:51     2015-05-11 00:00:00
545868   982066         309  2018-03-12 15:50:29     2018-03-12 00:00:00

       active   spn fmi PartialDerate target
546653   True  1569  31             1      0
546652   True  5394   5             0      1
546566   True  1569  31             1      0
546390   True  1569  31             1      0
546337   True  1569  31             1      0
546336   True   641  31             0      1
546325   True  1569  31             1      0
545868   True  1569  31             1      0

In [32]:
day_window = 2
timeWindow = "hours"
dts_evt = datetime.today()
print(dts_evt)
if(timeWindow == "hours"):
    print("hours = " + timeWindow)
    dts_evt_max = dts_evt - timedelta(hours=day_window)
else:
    print("Day = " + timeWindow)
    dts_evt_max = dts_evt - timedelta(days=day_window)
    
print(dts_evt_max)

2023-04-17 08:37:18.861058
hours = hours
2023-04-17 06:37:18.861058