In [5]:
import numpy as np 
import pandas as pd 
from matplotlib import pyplot as plt 
import seaborn as sns 
from datetime import datetime, timedelta

In [6]:
#R1764, R1762

# Read Files

In [7]:
pd.set_option('display.max_columns', None)

#Set to view all characters in column(default is 50, replace None with 50 once done viewing)
pd.set_option('display.max_colwidth', None)

faults_orig = pd.read_csv('../data/J1939Faults.csv', low_memory=False, parse_dates=['EventTimeStamp', 'LocationTimeStamp']) #1187335

#Make a copy to refer
faults = faults_orig
faults

,RecordID,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,faultValue,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp
0,1,990349,2015-02-21 10:47:13,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,0,111,17,True,2,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25
1,2,990360,2015-02-21 11:34:34,NaN,NaN,unknown,unknown,unknown,unknown,11,629,12,True,127,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10
2,3,990364,2015-02-21 11:35:31,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,False,127,NaN,1369,105336226,41.421250,-87.767361,2015-02-21 11:35:26
3,4,990370,2015-02-21 11:35:33,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,True,127,NaN,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08
4,5,990416,2015-02-21 11:39:41,NaN,NaN,22281684P01*22357957P01*22362082P01*,13063430,0USA13_13_0415_2238A,VOLVO,0,4364,17,False,2,NaN,1674,105427130,38.416481,-89.442638,2015-02-21 11:39:37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187330,1248454,123904424,2020-03-06 14:00:26,Low (Severity Low) Catalyst Tank Level,NaN,04384413*22383729*082218154102*60701732*G1*BGT*,80156139,6X1u17D1500000000,CMMNS,0,1761,17,False,3,NaN,2282,105439740,37.094768,-85.897407,2020-03-06 14:00:21
1187331,1248455,123905139,2020-03-06 14:04:23,Condition Exists Engine Protection Torque Derate,NaN,04358814*06099720*030816202706*09400153*G1*BDR*,79932020,6X1u13D1500000000,CMMNS,0,1569,31,True,5,NaN,1994,105354084,34.390740,-79.461805,2020-03-06 14:04:59
1187332,1248456,123905996,2020-03-06 14:13:38,Abnormal Rate of Change Aftertreatment 1 Intake NOx,NaN,05317106*05100987*050719120655*09401585*G1*BDR*,79880653,6X1u13D1500000000,CMMNS,0,3216,10,True,1,NaN,1850,105336308,34.430370,-84.920509,2020-03-06 14:14:14
1187333,1248457,123906113,2020-03-06 14:14:13,Low (Severity Medium) Engine Coolant Level,NaN,04384413*22544852*090619141107*60701756*G1*BGT*,NaN,NaN,NaN,0,111,18,True,8,NaN,2377,108605700,35.030925,-85.321527,2020-03-06 14:14:49
1187334,1248458,123906131,2020-03-06 14:15:34,Low (Severity Medium) Engine Coolant Level,NaN,04384413*22544852*090619141107*60701756*G1*BGT*,NaN,NaN,NaN,0,111,18,False,8,NaN,2377,108605700,35.027314,-85.323472,2020-03-06 14:15:30

In [8]:
faults.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1187335 entries, 0 to 1187334
Data columns (total 20 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   RecordID               1187335 non-null  int64
 1   ESS_Id                 1187335 non-null  int64
 2   EventTimeStamp         1187335 non-null  datetime64[ns]
 3   eventDescription       1126490 non-null  object
 4   actionDescription      0 non-null        float64
 5   ecuSoftwareVersion     891285 non-null   object
 6   ecuSerialNumber        844318 non-null   object
 7   ecuModel               1122577 non-null  object
 8   ecuMake                1122577 non-null  object
 9   ecuSource              1187335 non-null  int64
 10  spn                    1187335 non-null  int64
 11  fmi                    1187335 non-null  int64
 12  active                 1187335 non-null  bool
 13  activeTransitionCount  1187335 non-null  int64
 14  faultValue             0 non-null        float64
 15  EquipmentID            1187335 non-null  object
 16  MCTNumber              1187335 non-null  int64
 17  Latitude               1187335 non-null  float64
 18  Longitude              1187335 non-null  float64
 19  LocationTimeStamp      1187335 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](2), float64(4), int64(7), object(6)
memory usage: 173.2+ MB

## 2 - Vehicle Onboard Data

In [9]:
vdod_orig = pd.read_csv('../data/VehicleDiagnosticOnboardData.csv')
vdod = vdod_orig

# Create a wider table from long table, and drop the Name 
vdod = vdod.pivot(index="FaultId", columns="Name", values="Value").reset_index()
vdod

Name,FaultId,AcceleratorPedal,BarometricPressure,CruiseControlActive,CruiseControlSetSpeed,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,EngineRpm,EngineTimeLtd,FuelLevel,FuelLtd,FuelRate,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure
0,1,0,14.21,False,66.48672,423178.7,100.4,11,0,96.74375,0,1632.2,43.2,12300.907429328,0,NaN,False,78.8,1023,True,NaN,0,3276.75,NaN,0
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16639,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187330,1248454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN,NaN
1187331,1248455,100,14.5,True,64.6226,423937.9,185,51,37.12,211.4937,1310.25,10722.7,96.4,58979.184415546,7.647805,32,True,98.6,18431,False,NaN,65.01096,NaN,73.2,7.83
1187332,1248456,0,14.355,True,66.48672,465925.4,186.8,62,41.18,212.8438,1340.75,9326.75,100,65080.10587046,8.995086,NaN,True,91.4,17407,NaN,NaN,66.5741,NaN,100,6.96
1187333,1248457,1.6,14.4275,False,67.72946,28606.65625,181.4,0,27.26,221.7312,863.25,586.75,23.6,4042.49282573,0,NaN,True,100.4,1023,False,NaN,11.84489,14.1,100,1.74
1187334,1248458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN,NaN

### 3 Service Fault Codes

In [10]:
fc = pd.read_excel('../data/Service Fault Codes_1_0_0_167.xlsx')
fc

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,Published in CES 14602,Cummins Fault Code,Revision,PID,SID,MID,J1587 FMI,SPN,J1939 FMI,J2012 Pcode,Lamp Color,Lamp Device,Cummins Description,Algorithm Description
0,Y,111,167,Not Mapped,254,0,12,629,12,P0606,Red,Stop / Shutdown,Engine Control Module Critical Internal Failure - Bad Intelligent Device or Component,Error internal to the ECM related to memory hardware failures or internal ECM voltage supply circuits.
1,Y,112,167,Not Mapped,20,128,7,635,7,Not Mapped,Red,Stop / Shutdown,Engine Timing Actuator Driver Circuit - Mechanical System Not Responding or Out of Adjustment,Mechanical failure in the engine timing actuator driver circuit.
2,Y,113,167,Not Mapped,20,128,3,635,3,Not Mapped,Amber,Warning,Engine Timing Actuator Driver Circuit - Voltage Above Normal or Shorted to High Source,High signal voltage detected at the engine timing actuator driver circuit
3,Y,114,167,Not Mapped,20,128,4,635,4,Not Mapped,Amber,Warning,Engine Timing Actuator Driver Circuit - Voltage Below Normal or Shorted to Low Source,Low voltage detected at the engine timing actuator driver circuit.
4,Y,115,167,190,Not Mapped,Not Mapped,2,612,2,P0008,Red,Stop / Shutdown,"Engine Magnetic Speed/Position Lost Both of Two Signals - Data Erratic, Intermittent, or Incorrect",The ECM has detected that the primary and backup speed sensor signals are connected backwards.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7119,Y,9996,167,Not Mapped,155,0,11,524286,31,Not Mapped,Amber,Warning,Reserved for temporary use - Condition Exists,NaN
7120,Y,9997,167,Not Mapped,155,0,11,524286,31,Not Mapped,Amber,Warning,Reserved for temporary use - Condition Exists,NaN
7121,Y,9998,167,Not Mapped,155,0,11,524286,31,Not Mapped,Amber,Warning,Reserved for temporary use - Condition Exists,NaN
7122,Y,9999,167,Not Mapped,155,0,11,524286,31,Not Mapped,Amber,Warning,Reserved for temporary use - Condition Exists,NaN
7123,Y,12345,167,Not Mapped,155,0,11,524286,31,Not Mapped,Amber,Warning,Reserved for Testing 5 digit FC - Condition Exists,NaN

# Data Prep

In [11]:
#Merge faults and vehicle dignostic tables
faults = pd.merge(faults, vdod, left_on='RecordID', right_on='FaultId')

In [12]:
faults # 1187335 rows × 45 columns

,RecordID,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,faultValue,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp,FaultId,AcceleratorPedal,BarometricPressure,CruiseControlActive,CruiseControlSetSpeed,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,EngineRpm,EngineTimeLtd,FuelLevel,FuelLtd,FuelRate,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure
0,1,990349,2015-02-21 10:47:13,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,0,111,17,True,2,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25,1,0,14.21,False,66.48672,423178.7,100.4,11,0,96.74375,0,1632.2,43.2,12300.907429328,0,NaN,False,78.8,1023,True,NaN,0,3276.75,NaN,0
1,2,990360,2015-02-21 11:34:34,NaN,NaN,unknown,unknown,unknown,unknown,11,629,12,True,127,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
2,3,990364,2015-02-21 11:35:31,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,False,127,NaN,1369,105336226,41.421250,-87.767361,2015-02-21 11:35:26,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
3,4,990370,2015-02-21 11:35:33,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,True,127,NaN,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
4,5,990416,2015-02-21 11:39:41,NaN,NaN,22281684P01*22357957P01*22362082P01*,13063430,0USA13_13_0415_2238A,VOLVO,0,4364,17,False,2,NaN,1674,105427130,38.416481,-89.442638,2015-02-21 11:39:37,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16639,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187330,1248454,123904424,2020-03-06 14:00:26,Low (Severity Low) Catalyst Tank Level,NaN,04384413*22383729*082218154102*60701732*G1*BGT*,80156139,6X1u17D1500000000,CMMNS,0,1761,17,False,3,NaN,2282,105439740,37.094768,-85.897407,2020-03-06 14:00:21,1248454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN,NaN
1187331,1248455,123905139,2020-03-06 14:04:23,Condition Exists Engine Protection Torque Derate,NaN,04358814*06099720*030816202706*09400153*G1*BDR*,79932020,6X1u13D1500000000,CMMNS,0,1569,31,True,5,NaN,1994,105354084,34.390740,-79.461805,2020-03-06 14:04:59,1248455,100,14.5,True,64.6226,423937.9,185,51,37.12,211.4937,1310.25,10722.7,96.4,58979.184415546,7.647805,32,True,98.6,18431,False,NaN,65.01096,NaN,73.2,7.83
1187332,1248456,123905996,2020-03-06 14:13:38,Abnormal Rate of Change Aftertreatment 1 Intake NOx,NaN,05317106*05100987*050719120655*09401585*G1*BDR*,79880653,6X1u13D1500000000,CMMNS,0,3216,10,True,1,NaN,1850,105336308,34.430370,-84.920509,2020-03-06 14:14:14,1248456,0,14.355,True,66.48672,465925.4,186.8,62,41.18,212.8438,1340.75,9326.75,100,65080.10587046,8.995086,NaN,True,91.4,17407,NaN,NaN,66.5741,NaN,100,6.96
1187333,1248457,123906113,2020-03-06 14:14:13,Low (Severity Medium) Engine Coolant Level,NaN,04384413*22544852*090619141107*60701756*G1*BGT*,NaN,NaN,NaN,0,111,18,True,8,NaN,2377,108605700,35.030925,-85.321527,2020-03-06 14:14:49,1248457,1.6,14.4275,False,67.72946,28606.65625,181.4,0,27.26,221.7312,863.25,586.75,23.6,4042.49282573,0,NaN,True,100.4,1023,False,NaN,11.84489,14.1,100,1.74
1187334,1248458,123906131,2020-03-06 14:15:34,Low (Severity Medium) Engine Coolant Level,NaN,04384413*22544852*090619141107*60701756*G1*BGT*,NaN,NaN,NaN,0,111,18,False,8,NaN,2377,108605700,35.027314,-85.323472,2020-03-06 14:15:30,1248458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN,NaN

## Clean up faults data

In [13]:
#Remove faults where the EquipmentID has more than 5 characters.
faults = (
    faults.drop(['actionDescription', 'faultValue'], axis=1)
    [faults['EquipmentID'].str.len() <= 5]
)

In [14]:
for lat, lon in [(36.0666667, -86.4347222), (35.5883333, -86.4438888), (36.1950, -83.174722)]:
    
    faults = faults.loc[~((abs(lat - faults['Latitude']) <= 0.01) &
                          (abs(lon - faults['Longitude']) <= 0.01))]

In [15]:
faults = faults.loc[faults['EventTimeStamp'].dt.year > 2011]

In [16]:
#remove the rows where active = False
faults = faults.loc[faults['active'] == True]

In [17]:
#Create new column EventTimeStamp_DateOnly with only date part
faults['EventTimeStamp_DateOnly']= faults['EventTimeStamp'].dt.date 
faults['LocationTimeStamp_DateOnly']= faults['LocationTimeStamp'].dt.date 

faults['EventTimeStamp_DateOnly'] = pd.to_datetime(faults['EventTimeStamp_DateOnly'])
faults['LocationTimeStamp_DateOnly'] = pd.to_datetime(faults['LocationTimeStamp_DateOnly'])

In [18]:
#Filter out 'R1762', 'R1764'
faults = faults[~faults[['EquipmentID']].isin(['R1762', 'R1764', '2185A']).any(axis=1)]

In [19]:
faults = faults.astype({'EquipmentID': 'int'})

In [20]:
#faults = faults.astype({'EquipmentID': 'int'})
faults.sort_values(by='EquipmentID',ascending=False)

,RecordID,ESS_Id,EventTimeStamp,eventDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp,FaultId,AcceleratorPedal,BarometricPressure,CruiseControlActive,CruiseControlSetSpeed,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,EngineRpm,EngineTimeLtd,FuelLevel,FuelLtd,FuelRate,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure,EventTimeStamp_DateOnly,LocationTimeStamp_DateOnly
1187298,1248422,123883295,2020-03-06 11:56:38,Low (Severity Medium) Transmission Air Tank Pressure,5516018*202.56.0*5516502*E003.e003*5539634*86.21*5538103*4*,Z0098155,EEO-xxF112C,EATON,3,37,18,True,2,2381,108616503,33.612638,-84.384444,2020-03-06 11:57:53,1248422,0,14.2825,False,67.72946,1058.216796875,156.2,16,27.26,178.025,605.125,23.55,60,131.557681896,0.6736408,NaN,True,114.8,50175,True,NaN,0,14.05,100,0.58,2020-03-06,2020-03-06
1186588,1247712,123513793,2020-03-04 10:06:10,Low (Severity Low) Catalyst Tank Level,05572391*03002399*110719010101*62602004*N1*BKR*,80239683,6X1u20D1500000000,CMMNS,0,1761,17,True,1,2380,108616776,35.491620,-86.434074,2020-03-04 10:06:47,1247712,0,14.2825,False,0,511.711578369141,167,12,30.74,165.65,599.625,22.75,32,65.514668896,0.6075976,NaN,True,118.4,1023,True,NaN,0,13.95,100,0.29,2020-03-04,2020-03-04
1187333,1248457,123906113,2020-03-06 14:14:13,Low (Severity Medium) Engine Coolant Level,04384413*22544852*090619141107*60701756*G1*BGT*,NaN,NaN,NaN,0,111,18,True,8,2377,108605700,35.030925,-85.321527,2020-03-06 14:14:49,1248457,1.6,14.4275,False,67.72946,28606.65625,181.4,0,27.26,221.7312,863.25,586.75,23.6,4042.49282573,0,NaN,True,100.4,1023,False,NaN,11.84489,14.1,100,1.74,2020-03-06,2020-03-06
1185425,1246549,122833965,2020-02-28 04:56:18,Low (Severity Medium) Engine Coolant Level,NaN,80225924,6X1u17D1500000000,CMMNS,0,111,18,True,4,2377,108605700,35.426157,-84.688657,2020-02-28 04:57:05,1246549,0,14.355,False,66.48672,25442.1640625,80.6,25,45.24,69.125,600,530.7,99.2,3604.231391462,1.149152,NaN,True,59,2047,True,NaN,0,14,100,0.29,2020-02-28,2020-02-28
1186237,1247361,123313030,2020-03-03 07:47:01,Low (Severity Medium) Engine Coolant Level,04384413*22544852*090619141107*60701756*G1*BGT*,NaN,NaN,NaN,0,111,18,True,5,2377,108605700,38.404675,-78.912546,2020-03-03 07:47:37,1247361,0,13.8475,False,69.59357,26701.251953125,91.4,37,43.5,77.95625,593.125,552.9,74.4,3765.508429208,1.386908,NaN,True,71.6,2047,False,NaN,1.582555,14.1,100,0,2020-03-03,2020-03-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1152445,1209669,107700945,2019-10-26 09:57:59,Incorrect Data Engine Exhaust Back Pressure Regulator Solenoid,PC4_21408P151F*,Y044053,MX16U15D13,PCAR,0,649,2,True,63,301,105441522,36.131712,-86.401111,2019-10-26 09:58:34,1209669,0,14.2825,False,0,447571.2,170.6,0,67.86,206.375,1482.25,10891.4,64.4,62812.981320196,0,100.4,True,95,17407,False,NaN,56.37487,NaN,0,0.87,2019-10-26,2019-10-26
1152435,1209659,107697310,2019-10-26 09:14:05,Error in System Engine Exhaust Gas Recirculation (EGR) Valve 2 Control,PC4_21408P151F*,Y044053,MX16U15D13,PCAR,0,3821,11,True,47,301,105441522,36.450138,-86.466203,2019-10-26 09:16:34,1209659,98.8,14.21,False,0,447544.9,158,99,48.14,197.6,1180,10890.7,67.2,62808.754567364,16.18059,96.8,True,86,17407,False,NaN,60.73903,NaN,98.8,22.04,2019-10-26,2019-10-26
1152434,1209658,107697303,2019-10-26 09:13:45,Incorrect Data Engine Exhaust Back Pressure Regulator Solenoid,PC4_21408P151F*,Y044053,MX16U15D13,PCAR,0,649,2,True,49,301,105441522,36.454722,-86.466574,2019-10-26 09:16:14,1209658,0,14.1375,False,0,447544.5,159.8,0,51.04,200.3,1160.5,10890.7,65.6,62808.754567364,0,98.6,True,84.2,17407,False,NaN,59.61765,NaN,0,0.87,2019-10-26,2019-10-26
1152427,1209651,107693969,2019-10-26 08:35:57,Error in System Engine Exhaust Gas Recirculation (EGR) Valve 2 Control,PC4_21408P151F*,Y044053,MX16U15D13,PCAR,0,3821,11,True,36,301,105441522,36.861944,-86.453425,2019-10-26 08:36:33,1209651,96.8,14.355,False,0,447514.6,165.2,85,52.78,203.3375,1295,10890.05,72.4,62803.339040298,15.17673,93.2,True,87.8,17407,False,NaN,66.71487,NaN,97.2,19.43,2019-10-26,2019-10-26
1049697,1091534,70723846,2018-12-08 06:12:48,Data May Be Invalid J1939 Network #4,PC4__1284P4C_6*,Y044053,MX16U13D13,PCAR,0,1668,19,True,126,301,105351510,36.002962,-86.605694,2018-12-08 06:13:24,1091534,0,14.645,False,0,384921,179.6,0,5.8,184.1,0,8857.8,64.4,53662.325610968,0,107.6,True,127.4,17407,True,NaN,0,NaN,0,0,2018-12-08,2018-12-08

In [21]:
#faults[(faults['EquipmentID']== '1499') & (faults['spn'] == 5246)]

In [22]:
#View the new date columns 
faults.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 546664 entries, 0 to 1187333
Data columns (total 45 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   RecordID                    546664 non-null  int64
 1   ESS_Id                      546664 non-null  int64
 2   EventTimeStamp              546664 non-null  datetime64[ns]
 3   eventDescription            517005 non-null  object
 4   ecuSoftwareVersion          414242 non-null  object
 5   ecuSerialNumber             393170 non-null  object
 6   ecuModel                    518561 non-null  object
 7   ecuMake                     518561 non-null  object
 8   ecuSource                   546664 non-null  int64
 9   spn                         546664 non-null  int64
 10  fmi                         546664 non-null  int64
 11  active                      546664 non-null  bool
 12  activeTransitionCount       546664 non-null  int64
 13  EquipmentID                 546664 non-null  int32
 14  MCTNumber                   546664 non-null  int64
 15  Latitude                    546664 non-null  float64
 16  Longitude                   546664 non-null  float64
 17  LocationTimeStamp           546664 non-null  datetime64[ns]
 18  FaultId                     546664 non-null  int64
 19  AcceleratorPedal            478801 non-null  object
 20  BarometricPressure          528995 non-null  object
 21  CruiseControlActive         518888 non-null  object
 22  CruiseControlSetSpeed       519937 non-null  object
 23  DistanceLtd                 528853 non-null  object
 24  EngineCoolantTemperature    528983 non-null  object
 25  EngineLoad                  528522 non-null  object
 26  EngineOilPressure           529103 non-null  object
 27  EngineOilTemperature        527476 non-null  object
 28  EngineRpm                   529417 non-null  object
 29  EngineTimeLtd               525155 non-null  object
 30  FuelLevel                   453639 non-null  object
 31  FuelLtd                     528447 non-null  object
 32  FuelRate                    528253 non-null  object
 33  FuelTemperature             270541 non-null  object
 34  IgnStatus                   546664 non-null  object
 35  IntakeManifoldTemperature   529090 non-null  object
 36  LampStatus                  546664 non-null  object
 37  ParkingBrake                352341 non-null  object
 38  ServiceDistance             195 non-null     object
 39  Speed                       527388 non-null  object
 40  SwitchedBatteryVoltage      106037 non-null  object
 41  Throttle                    373766 non-null  object
 42  TurboBoostPressure          526908 non-null  object
 43  EventTimeStamp_DateOnly     546664 non-null  datetime64[ns]
 44  LocationTimeStamp_DateOnly  546664 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](4), float64(2), int32(1), int64(8), object(29)
memory usage: 186.1+ MB

# EDA

In [23]:
all_trucks = faults['EquipmentID'].unique()
partial_derate = faults.loc[(faults['spn'] == 1569) & (faults['fmi'] == 31)]['EquipmentID'].unique()
total_derate = faults.loc[faults['spn'] == 5246]['EquipmentID'].unique()

partial_derate_only = partial_derate[np.isin(partial_derate, total_derate, invert=True)]
total_derate_only = total_derate[np.isin(total_derate, partial_derate, invert=True)]
partial_and_total_derate = np.intersect1d(partial_derate, total_derate)
no_derate = all_trucks[np.isin(all_trucks, partial_derate_only, invert=True) | np.isin(all_trucks, total_derate_only, invert=True)]

In [24]:
print("partial_derate_only = " + str(len(partial_derate_only)))
print("total_derate_only = " + str(len(total_derate_only)))
print("partial_and_total_derate = " + str(len(partial_and_total_derate)))
print("no_derate = " + str(len(no_derate)))

partial_derate_only = 330
total_derate_only = 28
partial_and_total_derate = 161
no_derate = 1039

## Find vehicle EquipmentID for which the derate has happened

In [25]:
#df_faults =faults[faults['EquipmentID'].isin(uEQ)]
#faults[(faults['EquipmentID']== 2381)]

In [26]:
#df_faults = faults

### Sort faults in descending order

In [27]:
#df_faults['EventTimeStamp_DateOnly'] = pd.to_datetime(df_faults['EventTimeStamp_DateOnly'])
df_faults= (
    faults.groupby(['EquipmentID','EventTimeStamp','RecordID' ,'EventTimeStamp_DateOnly','active', 'spn', 'fmi'])
    .size().reset_index(name='count')
    .sort_values(by=['EquipmentID','EventTimeStamp','RecordID' ], ascending = [False, False, False])
)
df_faults.head(30)

#eyeball the dataframe
#df_faults.to_csv('df_faults.csv')

,EquipmentID,EventTimeStamp,RecordID,EventTimeStamp_DateOnly,active,spn,fmi,count
546663,2381,2020-03-06 11:56:38,1248422,2020-03-06,True,37,18,1
546662,2380,2020-03-04 10:06:10,1247712,2020-03-04,True,1761,17,1
546661,2377,2020-03-06 14:14:13,1248457,2020-03-06,True,111,18,1
546660,2377,2020-03-03 07:47:01,1247361,2020-03-03,True,111,18,1
546659,2377,2020-02-28 04:56:18,1246549,2020-02-28,True,111,18,1
546658,2377,2020-02-12 05:42:02,1241225,2020-02-12,True,111,18,1
546657,2377,2020-01-14 13:46:39,1232638,2020-01-14,True,1231,8,1
546656,2377,2020-01-14 13:42:40,1232624,2020-01-14,True,1231,8,1
546655,2377,2020-01-14 13:42:40,1232623,2020-01-14,True,84,23,1
546654,2377,2020-01-14 13:42:34,1232622,2020-01-14,True,84,2,1
546653,2376,2020-01-27 12:06:07,1237058,2020-01-27,True,111,18,1
546652,2376,2020-01-27 11:41:27,1237052,2020-01-27,True,111,18,1
546651,2376,2020-01-27 10:49:11,1237029,2020-01-27,True,111,18,1
546650,2376,2020-01-26 16:06:03,1236907,2020-01-26,True,111,18,1
546649,2376,2020-01-24 11:41:32,1236474,2020-01-24,True,111,18,1
546648,2376,2020-01-24 11:00:52,1236460,2020-01-24,True,111,18,1
546647,2376,2020-01-08 10:30:42,1231010,2020-01-08,True,111,18,1
546646,2375,2020-03-01 00:33:03,1246838,2020-03-01,True,37,18,1
546645,2375,2020-02-25 14:44:36,1245723,2020-02-25,True,2863,7,1
546644,2375,2020-02-19 06:45:41,1244154,2020-02-19,True,2863,7,1
546643,2375,2020-01-31 14:43:50,1238241,2020-01-31,True,37,18,1
546642,2375,2020-01-22 12:13:07,1235811,2020-01-22,True,37,1,1
546641,2374,2020-02-27 15:40:00,1246470,2020-02-27,True,111,18,1
546640,2374,2020-02-24 13:37:07,1245421,2020-02-24,True,37,18,1
546639,2374,2020-01-31 12:40:07,1238181,2020-01-31,True,37,1,1
546638,2374,2020-01-25 09:17:42,1236686,2020-01-25,True,111,18,1
546637,2374,2020-01-25 05:21:19,1236636,2020-01-25,True,111,18,1
546636,2374,2020-01-24 15:37:27,1236575,2020-01-24,True,37,18,1
546635,2374,2020-01-21 08:04:25,1235361,2020-01-21,True,111,18,1
546634,2374,2020-01-20 14:19:30,1235136,2020-01-20,True,111,18,1

# function to filter faults dataframe.
### This will filter the data by looking up SPN=1569 and fmi= 3, and then will traverse in by picking the spn which occured prio with in the date window specified

In [28]:
def  GetFilteredSPNbyDays(df_faults, windowTimeframeUnit, day_window):
    df_new = pd.DataFrame(columns = ['RecordID','EquipmentID', 'EventTimeStamp','EventTimeStamp_DateOnly','active', 'spn', 'fmi','Derate', 'group','target'])  
    #print(df_new)
    #df_new = df_new.astype({'EquipmentID': 'int'})
    dts_evt = ""
    dts_evt_max=""

    hasDerate = False
    counter =0
    derateGroupCounter = 0
    # loop through rows of original dataframe and assign new values to columns of new dataframe
    for index, row in df_faults.iterrows():
        counter+=1       
        #print('derateGroupCounter== ' + str(derateGroupCounter))
        #if((row['spn'] == 1569) & (row['fmi'] == 31)): 
        #print('-1 - . EquipmentID = ' + str(row['EquipmentID']))
        #if((row['spn'] == 5246)): 
        if((row['spn'] == 1569) & (row['fmi'] == 31)): 
            #print('0. spn Check Counter = ' + str(counter))          
            #print('0 - A. Counter = ' + str(hasDerate))
            derateGroupCounter +=1
            
            #Ak Commented if(hasDerate == False):
            
            hasDerate = True
            df_new.loc[index, 'Derate'] = pd.to_numeric(1)
            df_new.loc[index, 'target'] = 0
            dts_evt = row['EventTimeStamp'] 
            #dts_evt_max = dts_evt - timedelta(days=day_window)
            if(windowTimeframeUnit == "hours"):                   
                dts_evt_max = dts_evt - timedelta(hours=day_window)
                #print("hours = dts_evt_max= " + str(dts_evt_max))
            elif(windowTimeframeUnit == "days"):                   
                dts_evt_max = dts_evt - timedelta(days=day_window)
                #print("days = dts_evt_max= " + str(dts_evt_max))
            #add cols
            #print('1. Counter = ' + str(counter))
            #print('1. RecordID = ' + str(row['RecordID']))
            #print('dts_evt =' + str(dts_evt))
            #print('dts_evt_max =' + str(dts_evt_max))
           
            df_new.loc[index, 'RecordID'] = row['RecordID']
            df_new.loc[index, 'EquipmentID'] = pd.to_numeric(row['EquipmentID']) 
            df_new.loc[index, 'EventTimeStamp'] = row['EventTimeStamp']
            df_new.loc[index, 'EventTimeStamp_DateOnly'] = row['EventTimeStamp_DateOnly'] 
            df_new.loc[index, 'active'] = row['active']
            df_new.loc[index, 'spn'] = row['spn']
            df_new.loc[index, 'fmi'] = row['fmi']
            df_new.loc[index, 'group'] = derateGroupCounter
        else:
            #print('18. Counter = ' + str(counter))
            if(dts_evt_max != ""):
                #print('20. Counter = ' + str(counter))
                #print('21. RecordID = ' + str(row['RecordID']))
                #print('22 In Else after dts_evt_max != ' + str((row['EventTimeStamp'] > dts_evt_max)))
                #print((row['EventTimeStamp'] > dts_evt_max))
                if((row['EventTimeStamp'] > dts_evt_max) & (hasDerate)) :
                    #print('EventTimeStamp > dts_evt_max' + str(dts_evt_max) + " ---- " + str(row['EventTimeStamp_DateOnly']))
                    #print('23 EventTimeStamp > dts_evt_max' + str(dts_evt_max) + " ---- " + str(row['EventTimeStamp_DateOnly']))
                    df_new.loc[index, 'Derate'] = pd.to_numeric(0)
                    df_new.loc[index, 'target'] = 1
                    df_new.loc[index, 'RecordID'] = row['RecordID']
                    df_new.loc[index, 'EquipmentID'] = pd.to_numeric(row['EquipmentID']) 
                    df_new.loc[index, 'EventTimeStamp'] = row['EventTimeStamp']
                    df_new.loc[index, 'EventTimeStamp_DateOnly'] = row['EventTimeStamp_DateOnly'] 
                    df_new.loc[index, 'active'] = row['active']
                    df_new.loc[index, 'spn'] = row['spn']
                    df_new.loc[index, 'fmi'] = row['fmi']
                    df_new.loc[index, 'group'] = derateGroupCounter
                    #print('3. Counter = ' + str(counter))
                else:
                    #print('ELSE  ' + str(dts_evt_max)+ " ---- " +  str(row['EventTimeStamp_DateOnly']))
                    hasDerate = False
                    dts_evt = ""
                    dts_evt_max = ""
                    #print('3. Counter else else = ' + str(counter))
    #print(df_new) 
    
    return df_new

In [30]:
# Test by passing 1000 rows and 3 days lookup timeframe
dfW= GetFilteredSPNbyDays(df_faults.head(11000), 'hours',6)
print(dfW)

       RecordID EquipmentID       EventTimeStamp EventTimeStamp_DateOnly  \
537451  1080283        2120  2018-11-16 06:14:51     2018-11-16 00:00:00
537450  1080251        2120  2018-11-16 05:14:51     2018-11-16 00:00:00

       active   spn fmi Derate group target
537451   True  1569  31      1     1      0
537450   True  5394   5      0     1      1

In [ ]:
#df4= faults.merge(dfW, on='RecordID', how='left', indicator=True)
#df4

In [31]:
#get the filtered SPN  
df_filtered = pd.DataFrame()
df_filtered.info()
chunkcount = 0
for chunk in pd.read_csv("df_faults.csv", chunksize=20000, parse_dates=['EventTimeStamp']):
    chunkcount +=1
    dfW = GetFilteredSPNbyDays(chunk,"hours", 6)
    print(chunkcount)
    df_filtered = pd.concat([df_filtered,dfW])

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28

In [32]:
df_filtered

,RecordID,EquipmentID,EventTimeStamp,EventTimeStamp_DateOnly,active,spn,fmi,Derate,group,target
9212,1080283,2120,2018-11-16 06:14:51,2018-11-16,True,1569,31,1,1,0
9213,1080251,2120,2018-11-16 05:14:51,2018-11-16,True,5394,5,0,1,1
20439,1038825,2027,2018-07-22 19:21:30,2018-07-22,True,1569,31,1,1,0
20440,1038822,2027,2018-07-22 18:15:41,2018-07-22,True,3251,2,0,1,1
21496,1192545,2021,2019-08-30 18:05:29,2019-08-30,True,1569,31,1,2,0
...,...,...,...,...,...,...,...,...,...,...
539572,829620,307,2017-07-17 15:04:44,2017-07-17,True,5743,9,0,155,1
539573,829616,307,2017-07-17 15:00:53,2017-07-17,True,5848,9,0,155,1
540035,1053642,306,2018-09-07 06:47:05,2018-09-07,True,1569,31,1,1,0
540036,1053622,306,2018-09-07 05:48:43,2018-09-07,True,4094,31,0,1,1
540037,1053620,306,2018-09-07 05:45:39,2018-09-07,True,3226,20,0,1,1

In [33]:
#save the dataframe to compare with the one in prior step to visually compare few rows
df_filtered.to_csv('df_filtered_AK.csv')

In [ ]:
#Merge the filtered SPN with the original faults dataframe
faults_filtered =faults.merge(dfW, on='RecordID', how='left', indicator=True)

In [ ]:
faults_filtered