In [1]:
import numpy as np 
import pandas as pd 
from matplotlib import pyplot as plt 
import seaborn as sns 
from datetime import datetime, timedelta

In [ ]:
#R1764, R1762

# Read Files

In [2]:
pd.set_option('display.max_columns', None)

#Set to view all characters in column(default is 50, replace None with 50 once done viewing)
pd.set_option('display.max_colwidth', None)

faults_orig = pd.read_csv('../data/J1939Faults.csv', low_memory=False, parse_dates=['EventTimeStamp', 'LocationTimeStamp']) #1187335

#Make a copy to refer
faults = faults_orig
faults

,RecordID,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,faultValue,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp
0,1,990349,2015-02-21 10:47:13,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,0,111,17,True,2,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25
1,2,990360,2015-02-21 11:34:34,NaN,NaN,unknown,unknown,unknown,unknown,11,629,12,True,127,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10
2,3,990364,2015-02-21 11:35:31,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,False,127,NaN,1369,105336226,41.421250,-87.767361,2015-02-21 11:35:26
3,4,990370,2015-02-21 11:35:33,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,True,127,NaN,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08
4,5,990416,2015-02-21 11:39:41,NaN,NaN,22281684P01*22357957P01*22362082P01*,13063430,0USA13_13_0415_2238A,VOLVO,0,4364,17,False,2,NaN,1674,105427130,38.416481,-89.442638,2015-02-21 11:39:37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187330,1248454,123904424,2020-03-06 14:00:26,Low (Severity Low) Catalyst Tank Level,NaN,04384413*22383729*082218154102*60701732*G1*BGT*,80156139,6X1u17D1500000000,CMMNS,0,1761,17,False,3,NaN,2282,105439740,37.094768,-85.897407,2020-03-06 14:00:21
1187331,1248455,123905139,2020-03-06 14:04:23,Condition Exists Engine Protection Torque Derate,NaN,04358814*06099720*030816202706*09400153*G1*BDR*,79932020,6X1u13D1500000000,CMMNS,0,1569,31,True,5,NaN,1994,105354084,34.390740,-79.461805,2020-03-06 14:04:59
1187332,1248456,123905996,2020-03-06 14:13:38,Abnormal Rate of Change Aftertreatment 1 Intake NOx,NaN,05317106*05100987*050719120655*09401585*G1*BDR*,79880653,6X1u13D1500000000,CMMNS,0,3216,10,True,1,NaN,1850,105336308,34.430370,-84.920509,2020-03-06 14:14:14
1187333,1248457,123906113,2020-03-06 14:14:13,Low (Severity Medium) Engine Coolant Level,NaN,04384413*22544852*090619141107*60701756*G1*BGT*,NaN,NaN,NaN,0,111,18,True,8,NaN,2377,108605700,35.030925,-85.321527,2020-03-06 14:14:49
1187334,1248458,123906131,2020-03-06 14:15:34,Low (Severity Medium) Engine Coolant Level,NaN,04384413*22544852*090619141107*60701756*G1*BGT*,NaN,NaN,NaN,0,111,18,False,8,NaN,2377,108605700,35.027314,-85.323472,2020-03-06 14:15:30

In [14]:

faults.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1187335 entries, 0 to 1187334
Data columns (total 20 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   RecordID               1187335 non-null  int64
 1   ESS_Id                 1187335 non-null  int64
 2   EventTimeStamp         1187335 non-null  datetime64[ns]
 3   eventDescription       1126490 non-null  object
 4   actionDescription      0 non-null        float64
 5   ecuSoftwareVersion     891285 non-null   object
 6   ecuSerialNumber        844318 non-null   object
 7   ecuModel               1122577 non-null  object
 8   ecuMake                1122577 non-null  object
 9   ecuSource              1187335 non-null  int64
 10  spn                    1187335 non-null  int64
 11  fmi                    1187335 non-null  int64
 12  active                 1187335 non-null  bool
 13  activeTransitionCount  1187335 non-null  int64
 14  faultValue             0 non-null        float64
 15  EquipmentID            1187335 non-null  object
 16  MCTNumber              1187335 non-null  int64
 17  Latitude               1187335 non-null  float64
 18  Longitude              1187335 non-null  float64
 19  LocationTimeStamp      1187335 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](2), float64(4), int64(7), object(6)
memory usage: 173.2+ MB

## 2 - Vehicle Onboard Data

In [4]:
vdod_orig = pd.read_csv('../data/VehicleDiagnosticOnboardData.csv')
vdod = vdod_orig

# Create a wider table from long table, and drop the Name 
vdod = vdod.pivot(index="FaultId", columns="Name", values="Value").reset_index()
vdod

Name,FaultId,AcceleratorPedal,BarometricPressure,CruiseControlActive,CruiseControlSetSpeed,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,EngineRpm,EngineTimeLtd,FuelLevel,FuelLtd,FuelRate,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure
0,1,0,14.21,False,66.48672,423178.7,100.4,11,0,96.74375,0,1632.2,43.2,12300.907429328,0,NaN,False,78.8,1023,True,NaN,0,3276.75,NaN,0
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16639,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187330,1248454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN,NaN
1187331,1248455,100,14.5,True,64.6226,423937.9,185,51,37.12,211.4937,1310.25,10722.7,96.4,58979.184415546,7.647805,32,True,98.6,18431,False,NaN,65.01096,NaN,73.2,7.83
1187332,1248456,0,14.355,True,66.48672,465925.4,186.8,62,41.18,212.8438,1340.75,9326.75,100,65080.10587046,8.995086,NaN,True,91.4,17407,NaN,NaN,66.5741,NaN,100,6.96
1187333,1248457,1.6,14.4275,False,67.72946,28606.65625,181.4,0,27.26,221.7312,863.25,586.75,23.6,4042.49282573,0,NaN,True,100.4,1023,False,NaN,11.84489,14.1,100,1.74
1187334,1248458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN,NaN

### 3 Service Fault Codes

In [5]:
fc = pd.read_excel('../data/Service Fault Codes_1_0_0_167.xlsx')
fc

C:\ProgramData\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,Published in CES 14602,Cummins Fault Code,Revision,PID,SID,MID,J1587 FMI,SPN,J1939 FMI,J2012 Pcode,Lamp Color,Lamp Device,Cummins Description,Algorithm Description
0,Y,111,167,Not Mapped,254,0,12,629,12,P0606,Red,Stop / Shutdown,Engine Control Module Critical Internal Failure - Bad Intelligent Device or Component,Error internal to the ECM related to memory hardware failures or internal ECM voltage supply circuits.
1,Y,112,167,Not Mapped,20,128,7,635,7,Not Mapped,Red,Stop / Shutdown,Engine Timing Actuator Driver Circuit - Mechanical System Not Responding or Out of Adjustment,Mechanical failure in the engine timing actuator driver circuit.
2,Y,113,167,Not Mapped,20,128,3,635,3,Not Mapped,Amber,Warning,Engine Timing Actuator Driver Circuit - Voltage Above Normal or Shorted to High Source,High signal voltage detected at the engine timing actuator driver circuit
3,Y,114,167,Not Mapped,20,128,4,635,4,Not Mapped,Amber,Warning,Engine Timing Actuator Driver Circuit - Voltage Below Normal or Shorted to Low Source,Low voltage detected at the engine timing actuator driver circuit.
4,Y,115,167,190,Not Mapped,Not Mapped,2,612,2,P0008,Red,Stop / Shutdown,"Engine Magnetic Speed/Position Lost Both of Two Signals - Data Erratic, Intermittent, or Incorrect",The ECM has detected that the primary and backup speed sensor signals are connected backwards.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7119,Y,9996,167,Not Mapped,155,0,11,524286,31,Not Mapped,Amber,Warning,Reserved for temporary use - Condition Exists,NaN
7120,Y,9997,167,Not Mapped,155,0,11,524286,31,Not Mapped,Amber,Warning,Reserved for temporary use - Condition Exists,NaN
7121,Y,9998,167,Not Mapped,155,0,11,524286,31,Not Mapped,Amber,Warning,Reserved for temporary use - Condition Exists,NaN
7122,Y,9999,167,Not Mapped,155,0,11,524286,31,Not Mapped,Amber,Warning,Reserved for temporary use - Condition Exists,NaN
7123,Y,12345,167,Not Mapped,155,0,11,524286,31,Not Mapped,Amber,Warning,Reserved for Testing 5 digit FC - Condition Exists,NaN

# Data Prep

In [15]:
#Merge faults and vehicle dignostic tables
faults = pd.merge(faults, vdod, left_on='RecordID', right_on='FaultId')

In [16]:
faults # 1187335 rows × 45 columns

,RecordID,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,faultValue,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp,FaultId,AcceleratorPedal,BarometricPressure,CruiseControlActive,CruiseControlSetSpeed,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,EngineRpm,EngineTimeLtd,FuelLevel,FuelLtd,FuelRate,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure
0,1,990349,2015-02-21 10:47:13,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,0,111,17,True,2,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25,1,0,14.21,False,66.48672,423178.7,100.4,11,0,96.74375,0,1632.2,43.2,12300.907429328,0,NaN,False,78.8,1023,True,NaN,0,3276.75,NaN,0
1,2,990360,2015-02-21 11:34:34,NaN,NaN,unknown,unknown,unknown,unknown,11,629,12,True,127,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
2,3,990364,2015-02-21 11:35:31,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,False,127,NaN,1369,105336226,41.421250,-87.767361,2015-02-21 11:35:26,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
3,4,990370,2015-02-21 11:35:33,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,True,127,NaN,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
4,5,990416,2015-02-21 11:39:41,NaN,NaN,22281684P01*22357957P01*22362082P01*,13063430,0USA13_13_0415_2238A,VOLVO,0,4364,17,False,2,NaN,1674,105427130,38.416481,-89.442638,2015-02-21 11:39:37,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16639,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187330,1248454,123904424,2020-03-06 14:00:26,Low (Severity Low) Catalyst Tank Level,NaN,04384413*22383729*082218154102*60701732*G1*BGT*,80156139,6X1u17D1500000000,CMMNS,0,1761,17,False,3,NaN,2282,105439740,37.094768,-85.897407,2020-03-06 14:00:21,1248454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN,NaN
1187331,1248455,123905139,2020-03-06 14:04:23,Condition Exists Engine Protection Torque Derate,NaN,04358814*06099720*030816202706*09400153*G1*BDR*,79932020,6X1u13D1500000000,CMMNS,0,1569,31,True,5,NaN,1994,105354084,34.390740,-79.461805,2020-03-06 14:04:59,1248455,100,14.5,True,64.6226,423937.9,185,51,37.12,211.4937,1310.25,10722.7,96.4,58979.184415546,7.647805,32,True,98.6,18431,False,NaN,65.01096,NaN,73.2,7.83
1187332,1248456,123905996,2020-03-06 14:13:38,Abnormal Rate of Change Aftertreatment 1 Intake NOx,NaN,05317106*05100987*050719120655*09401585*G1*BDR*,79880653,6X1u13D1500000000,CMMNS,0,3216,10,True,1,NaN,1850,105336308,34.430370,-84.920509,2020-03-06 14:14:14,1248456,0,14.355,True,66.48672,465925.4,186.8,62,41.18,212.8438,1340.75,9326.75,100,65080.10587046,8.995086,NaN,True,91.4,17407,NaN,NaN,66.5741,NaN,100,6.96
1187333,1248457,123906113,2020-03-06 14:14:13,Low (Severity Medium) Engine Coolant Level,NaN,04384413*22544852*090619141107*60701756*G1*BGT*,NaN,NaN,NaN,0,111,18,True,8,NaN,2377,108605700,35.030925,-85.321527,2020-03-06 14:14:49,1248457,1.6,14.4275,False,67.72946,28606.65625,181.4,0,27.26,221.7312,863.25,586.75,23.6,4042.49282573,0,NaN,True,100.4,1023,False,NaN,11.84489,14.1,100,1.74
1187334,1248458,123906131,2020-03-06 14:15:34,Low (Severity Medium) Engine Coolant Level,NaN,04384413*22544852*090619141107*60701756*G1*BGT*,NaN,NaN,NaN,0,111,18,False,8,NaN,2377,108605700,35.027314,-85.323472,2020-03-06 14:15:30,1248458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN,NaN

## Clean up data

In [17]:
#Remove faults where the EquipmentID has more than 5 characters.
faults = (
    faults.drop(['actionDescription', 'faultValue'], axis=1)
    [faults['EquipmentID'].str.len() <= 5]
)

In [18]:
for lat, lon in [(36.0666667, -86.4347222), (35.5883333, -86.4438888), (36.1950, -83.174722)]:
    
    faults = faults.loc[~((abs(lat - faults['Latitude']) <= 0.01) &
                          (abs(lon - faults['Longitude']) <= 0.01))]

In [10]:
faults = faults.loc[faults['EventTimeStamp'].dt.year > 2011]

In [19]:
#remove the rows where active = False
faults = faults.loc[faults['active'] == True]

In [20]:
#Create new column EventTimeStamp_DateOnly with only date part
faults['EventTimeStamp_DateOnly']= faults['EventTimeStamp'].dt.date 
faults['LocationTimeStamp_DateOnly']= faults['LocationTimeStamp'].dt.date 

faults['EventTimeStamp_DateOnly'] = pd.to_datetime(faults['EventTimeStamp_DateOnly'])
faults['LocationTimeStamp_DateOnly'] = pd.to_datetime(faults['LocationTimeStamp_DateOnly'])

In [27]:
#Filter out 'R1762', 'R1764'
faults = faults[~faults[['EquipmentID']].isin(['R1762', 'R1764']).any(axis=1)]

In [28]:
#faults = faults.astype({'EquipmentID': 'int'})
faults.sort_values(by='EquipmentID',ascending=False)

,RecordID,ESS_Id,EventTimeStamp,eventDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp,FaultId,AcceleratorPedal,BarometricPressure,CruiseControlActive,CruiseControlSetSpeed,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,EngineRpm,EngineTimeLtd,FuelLevel,FuelLtd,FuelRate,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure,EventTimeStamp_DateOnly,LocationTimeStamp_DateOnly
49303,50415,2382785,2015-05-12 11:34:48,High (Severity Medium) J1939 Network #2,unknown,unknown,unknown,unknown,49,1231,16,True,4,310,105442984,35.262916,-86.396250,2015-05-12 11:35:24,50415,0,14.355,False,66.48672,73770.35,179.6,17,27.26,197.6,601.5,1638.8,42.4,10358.450330972,0.7528927,32,True,138.2,255,True,NaN,0,3276.75,0,0.29,2015-05-12,2015-05-12
510145,521094,10205116,2016-07-06 18:32:45,High Voltage (Fuel Level),unknown,unknown,unknown,unknown,49,96,3,True,126,310,105442984,36.123379,-86.398333,2016-07-06 18:34:20,521094,0,14.355,False,56.54478,157318.4,188.6,14,22.62,205.5313,601.5,4199.2,60.4,21388.69019018,0.8321446,32,True,138.2,1279,False,NaN,0,NaN,0,0.29,2016-07-06,2016-07-06
597760,612239,12238234,2016-10-18 02:07:00,Incorrect Data J1939 Network #1 Primary Vehicle Network ( previously SAE J1939 Data Link),BB41103* BB41104*,S211411637,EC60-adv,BNDWS,11,639,2,True,127,310,105442984,36.123657,-86.398796,2016-10-18 02:08:04,612239,42.8,14.355,False,56.54478,179250.6,185,32,40.02,201.4812,1223,4932.95,35.6,24286.129256516,5.138163,32,True,134.6,1279,False,NaN,4.126293,NaN,0,4.35,2016-10-18,2016-10-18
511405,522354,10231373,2016-07-07 22:34:44,Incorrect Data J1939 Network #1 Primary Vehicle Network ( previously SAE J1939 Data Link),BB41103* BB41104*,S211411637,EC60-adv,BNDWS,11,639,2,True,127,310,105442984,36.123101,-86.396574,2016-07-07 22:35:20,522354,33.6,14.355,False,56.54478,157616.7,177.8,16,39.44,208.2875,1225.375,4210.05,67.2,21428.580170032,2.192635,32,True,111.2,1279,False,NaN,8.67007,NaN,0,1.45,2016-07-07,2016-07-07
941945,971471,40666330,2018-02-22 02:57:33,Incorrect Data Wheel Sensor ABS Axle 1 Left,BB41103* BB41104*,S211411637,EC60-adv,BNDWS,11,789,2,True,127,310,105442984,36.961250,-86.477222,2018-02-22 02:58:10,971471,0,14.5725,False,64.6226,257383.4,183.2,9,21.46,197.15,599.625,7535.55,59.2,34696.753567758,0.5019284,NaN,True,102.2,1279,False,NaN,4.165129,NaN,100,0.29,2018-02-22,2018-02-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41577,42689,2241022,2015-05-04 15:38:35,NaN,unknown,unknown,unknown,unknown,49,50353,0,True,2,1327,105383198,35.988750,-83.579583,2015-05-04 15:39:11,42689,100,14.2825,False,62.13712,517711.8,183.2,90,33.64,216.6125,1359.125,10323.1,NaN,78862.886425482,16.85423,NaN,True,113,2,False,NaN,64.68085,3276.75,NaN,26.39,2015-05-04,2015-05-04
63869,65939,2611189,2015-05-26 08:44:10,Abnormal Update Rate Aftertreatment 1 Intake NOx,04993120*00001782*082113134117*07700053*I0*BBZ*,79419774,6X1u10D1500000000,CMMNS,0,3216,9,True,1,1327,105383198,35.523703,-86.440787,2015-05-26 08:52:22,65939,48.8,14.355,False,64.6226,520314.6,161.6,45,38.86,154.5125,1170,10375.15,NaN,79275.39108468,4.530565,NaN,True,100.4,17407,False,NaN,28.79667,3276.75,NaN,6.67,2015-05-26,2015-05-26
56739,58809,2507532,2015-05-19 12:02:55,Abnormal Update Rate Aftertreatment 1 Intake NOx,04993120*00001782*082113134117*07700053*I0*BBZ*,79419774,6X1u10D1500000000,CMMNS,0,3216,9,True,1,1327,105383198,35.491250,-86.458842,2015-05-19 12:03:32,58809,11.6,14.355,False,64.6226,520309.6,185,0,31.9,203.8438,1083.125,10374.8,NaN,79274.466482498,0,NaN,True,109.4,17407,False,NaN,27.56364,3276.75,NaN,2.9,2015-05-19,2015-05-19
63809,65879,2610228,2015-05-26 08:11:45,Abnormal Update Rate Aftertreatment 1 Intake NOx,04993120*00001782*082113134117*07700053*I0*BBZ*,79419774,6X1u10D1500000000,CMMNS,0,3216,9,True,1,1327,105383198,35.490787,-86.433842,2015-05-21 14:40:18,65879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,17407,NaN,NaN,NaN,NaN,NaN,NaN,2015-05-26,2015-05-21
44555,45667,2296851,2015-05-07 06:52:14,Condition Exists Cruise Control Enable Switch,unknown,unknown,unknown,unknown,49,596,31,True,126,1327,105383198,40.197500,-74.661435,2015-05-07 06:52:50,45667,0,14.79,False,64.6226,518554.7,185,14,25.52,165.875,648.375,10338.7,NaN,78990.877784676,0.7661014,NaN,True,102.2,255,False,NaN,0,3276.75,NaN,1.74,2015-05-07,2015-05-07

In [25]:
faults

,RecordID,ESS_Id,EventTimeStamp,eventDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp,FaultId,AcceleratorPedal,BarometricPressure,CruiseControlActive,CruiseControlSetSpeed,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,EngineRpm,EngineTimeLtd,FuelLevel,FuelLtd,FuelRate,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure,EventTimeStamp_DateOnly,LocationTimeStamp_DateOnly
0,1,990349,2015-02-21 10:47:13,Low (Severity Low) Engine Coolant Level,unknown,unknown,unknown,unknown,0,111,17,True,2,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25,1,0,14.21,False,66.48672,423178.7,100.4,11,0,96.74375,0,1632.2,43.2,12300.907429328,0,NaN,False,78.8,1023,True,NaN,0,3276.75,NaN,0,2015-02-21,2015-02-21
1,2,990360,2015-02-21 11:34:34,NaN,unknown,unknown,unknown,unknown,11,629,12,True,127,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN,2015-02-21,2015-02-21
3,4,990370,2015-02-21 11:35:33,Incorrect Data Steering Wheel Angle,unknown,unknown,unknown,unknown,11,1807,2,True,127,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN,2015-02-21,2015-02-21
5,6,990431,2015-02-21 11:40:22,Low (Severity Low) Engine Coolant Level,04993120*00025921*082113134117*07700053*I0*BBZ*,79466580,6X1u10D1500000000,CMMNS,0,111,17,True,1,1417,105438630,33.043564,-96.179722,2015-02-21 11:40:59,6,48,14.4275,False,64.6226,470381.4,181.4,30,38.28,196.5313,1514.5,9480,44,70349.809963756,4.583399,NaN,True,111.2,1023,NaN,NaN,13.6022,3276.75,NaN,6.67,2015-02-21,2015-02-21
6,7,990439,2015-02-21 11:40:52,Low (Severity Low) Engine Coolant Level,unknown,unknown,unknown,unknown,0,111,17,True,2,1597,105344243,36.902916,-86.436481,2015-02-21 11:41:29,7,82.8,14.2825,False,64.6226,278736.7,188.6,80,39.44,210.0313,1711.375,6292.2,64.8,40961.065436834,14.29175,NaN,True,78.8,1023,NaN,NaN,41.53478,3276.75,NaN,20.59,2015-02-21,2015-02-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187324,1248448,123899434,2020-03-06 13:12:43,High Voltage (Fuel Level),NaN,NaN,CECU3B-NAMUX4,PACCR,49,96,3,True,126,1936,105355619,30.376851,-81.744953,2020-03-06 13:29:33,1248448,0,14.645,False,66.48672,391932.6,181.4,11,22.62,197.6,597.375,8016.75,60,51466.131256666,0.6208063,NaN,True,120.2,1279,False,NaN,0.9417657,NaN,100,1.16,2020-03-06,2020-03-06
1187328,1248452,123901805,2020-03-06 13:42:48,Low (Severity Medium) Engine Coolant Level,04358814*06030918*051718174436*09401683*G1*BDR*,79904453,6X1u13D1500000000,CMMNS,0,111,18,True,93,1886,105351219,39.015694,-77.031157,2020-03-06 13:43:24,1248452,0,14.355,False,66.48672,457529.7,181.4,11,19.72,207.2188,600.25,13047.05,62,64491.926796682,0.5151371,NaN,True,104,2047,False,NaN,5.932153,NaN,100,0.58,2020-03-06,2020-03-06
1187331,1248455,123905139,2020-03-06 14:04:23,Condition Exists Engine Protection Torque Derate,04358814*06099720*030816202706*09400153*G1*BDR*,79932020,6X1u13D1500000000,CMMNS,0,1569,31,True,5,1994,105354084,34.390740,-79.461805,2020-03-06 14:04:59,1248455,100,14.5,True,64.6226,423937.9,185,51,37.12,211.4937,1310.25,10722.7,96.4,58979.184415546,7.647805,32,True,98.6,18431,False,NaN,65.01096,NaN,73.2,7.83,2020-03-06,2020-03-06
1187332,1248456,123905996,2020-03-06 14:13:38,Abnormal Rate of Change Aftertreatment 1 Intake NOx,05317106*05100987*050719120655*09401585*G1*BDR*,79880653,6X1u13D1500000000,CMMNS,0,3216,10,True,1,1850,105336308,34.430370,-84.920509,2020-03-06 14:14:14,1248456,0,14.355,True,66.48672,465925.4,186.8,62,41.18,212.8438,1340.75,9326.75,100,65080.10587046,8.995086,NaN,True,91.4,17407,NaN,NaN,66.5741,NaN,100,6.96,2020-03-06,2020-03-06
1187333,1248457,123906113,2020-03-06 14:14:13,Low (Severity Medium) Engine Coolant Level,04384413*22544852*090619141107*60701756*G1*BGT*,NaN,NaN,NaN,0,111,18,True,8,2377,108605700,35.030925,-85.321527,2020-03-06 14:14:49,1248457,1.6,14.4275,False,67.72946,28606.65625,181.4,0,27.26,221.7312,863.25,586.75,23.6,4042.49282573,0,NaN,True,100.4,1023,False,NaN,11.84489,14.1,100,1.74,2020-03-06,2020-03-06

In [ ]:
#View the new date columns 
faults.info()

# EDA

In [ ]:
all_trucks = faults['EquipmentID'].unique()
partial_derate = faults.loc[(faults['spn'] == 1569) & (faults['fmi'] == 31)]['EquipmentID'].unique()
total_derate = faults.loc[faults['spn'] == 5246]['EquipmentID'].unique()

partial_derate_only = partial_derate[np.isin(partial_derate, total_derate, invert=True)]
total_derate_only = total_derate[np.isin(total_derate, partial_derate, invert=True)]
partial_and_total_derate = np.intersect1d(partial_derate, total_derate)
no_derate = all_trucks[np.isin(all_trucks, partial_derate_only, invert=True) | np.isin(all_trucks, total_derate_only, invert=True)]

In [ ]:
print("partial_derate_only = " + str(len(partial_derate_only)))
print("total_derate_only = " + str(len(total_derate_only)))
print("partial_and_total_derate = " + str(len(partial_and_total_derate)))
print("no_derate = " + str(len(no_derate)))

## Find vehicle EquipmentID for which the derate has happened

In [ ]:
df_faults =faults[faults['EquipmentID'].isin(uEQ)]

In [17]:
df_faults = faults

In [38]:
df_faults.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 546882 entries, 546535 to 4
Data columns (total 8 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   EquipmentID              546882 non-null  object
 1   EventTimeStamp           546882 non-null  datetime64[ns]
 2   EventTimeStamp_DateOnly  546882 non-null  datetime64[ns]
 3   active                   546882 non-null  bool
 4   spn                      546882 non-null  int64
 5   fmi                      546882 non-null  int64
 6   RecordID                 546882 non-null  int64
 7   count                    546882 non-null  int64
dtypes: bool(1), datetime64[ns](2), int64(4), object(1)
memory usage: 33.9+ MB

### Sort the DF in descending order

In [43]:
#df_faults['EventTimeStamp_DateOnly'] = pd.to_datetime(df_faults['EventTimeStamp_DateOnly'])
df_faults= (
    faults.groupby(['EquipmentID','EventTimeStamp','RecordID' ,'EventTimeStamp_DateOnly','active', 'spn', 'fmi'])
    .size().reset_index(name='count')
    .sort_values(by=['EquipmentID','EventTimeStamp','RecordID' ], ascending = [False, False, False])
)
df_faults.head(5000)

#df_faults.to_csv('Faults_BeforeFilter.csv')

# Create new DF

In [44]:
def  GetFilteredSPNbyDays(df_faults, day_window):
    df_new = pd.DataFrame(columns = ['RecordID','EquipmentID', 'EventTimeStamp','EventTimeStamp_DateOnly','active', 'spn', 'fmi','PartialDerate', 'target'])  
    #print(df_new)
    df_new = df_new.astype({'EquipmentID': 'int'})
    dts_evt = ""
    dts_evt_max=""

    hasDerate = False
    # loop through rows of original dataframe and assign new values to columns of new dataframe
    for index, row in df_faults.iterrows():
        if((row['spn'] == 1569) & (row['fmi'] == 31)):  
            if(hasDerate == False):
                hasDerate = True
                df_new.loc[index, 'PartialDerate'] = 1
                df_new.loc[index, 'target'] = 0
                dts_evt = row['EventTimeStamp'] 
                dts_evt_max = dts_evt - timedelta(days=day_window)
                #print('dts_evt_max =' + str(dts_evt_max))
                #add cols
                df_new.loc[index, 'RecordID'] = row['RecordID']
                df_new.loc[index, 'EquipmentID'] = row['EquipmentID']
                df_new.loc[index, 'EventTimeStamp'] = row['EventTimeStamp']
                df_new.loc[index, 'EventTimeStamp_DateOnly'] = row['EventTimeStamp_DateOnly'] 
                df_new.loc[index, 'active'] = row['active']
                df_new.loc[index, 'spn'] = row['spn']
                df_new.loc[index, 'fmi'] = row['fmi']

        else:
            if(dts_evt_max != ""):
 
                if((row['EventTimeStamp'] > dts_evt_max)  ) :
                    #print('EventTimeStamp > dts_evt_max' + str(dts_evt_max) + " ---- " + str(row['EventTimeStamp_DateOnly']))
                    df_new.loc[index, 'PartialDerate'] = 0 
                    df_new.loc[index, 'target'] = 1
                    df_new.loc[index, 'RecordID'] = row['RecordID']
                    df_new.loc[index, 'EquipmentID'] = row['EquipmentID']
                    df_new.loc[index, 'EventTimeStamp'] = row['EventTimeStamp']
                    df_new.loc[index, 'EventTimeStamp_DateOnly'] = row['EventTimeStamp_DateOnly'] 
                    df_new.loc[index, 'active'] = row['active']
                    df_new.loc[index, 'spn'] = row['spn']
                    df_new.loc[index, 'fmi'] = row['fmi']
                else:
                    #print('ELSE  ' + str(dts_evt_max)+ " ---- " +  str(row['EventTimeStamp_DateOnly']))
                    hasDerate = False
                    dts_evt = ""
                    dts_evt_max = ""
    #print(df_new) 
    return df_new

In [46]:
dfW= GetFilteredSPNbyDays(df_faults.head(5000), 5)
print(dfW) 
dfW.to_csv('Faults_dfW_filtered.csv')

       RecordID EquipmentID       EventTimeStamp EventTimeStamp_DateOnly  \
546865  1030975         310  2018-06-28 22:03:41     2018-06-28 00:00:00
546864  1030974         310  2018-06-28 21:51:13     2018-06-28 00:00:00
546778   876806         310  2017-09-22 02:49:53     2017-09-22 00:00:00
546602   409149         310  2016-03-08 00:47:59     2016-03-08 00:00:00
546601   409125         310  2016-03-07 22:01:15     2016-03-07 00:00:00
546600   406593         310  2016-03-04 22:49:27     2016-03-04 00:00:00
546549   131948         310  2015-07-22 10:20:59     2015-07-22 00:00:00
546548   131947         310  2015-07-22 10:20:59     2015-07-22 00:00:00
546537    49403         310  2015-05-11 12:52:51     2015-05-11 00:00:00
546080   982066         309  2018-03-12 15:50:29     2018-03-12 00:00:00
546078   981898         309  2018-03-12 11:31:45     2018-03-12 00:00:00
546077   981897         309  2018-03-12 11:31:45     2018-03-12 00:00:00
544405   962200         308  2018-02-07 16:25:53     2018-02-07 00:00:00
544404   962151         308  2018-02-07 15:22:22     2018-02-07 00:00:00
544401   961777         308  2018-02-07 07:11:54     2018-02-07 00:00:00
544086   829656         307  2017-07-17 16:04:34     2017-07-17 00:00:00
544085   829620         307  2017-07-17 15:04:44     2017-07-17 00:00:00
544084   829616         307  2017-07-17 15:00:53     2017-07-17 00:00:00
544083   827923         307  2017-07-14 08:11:08     2017-07-14 00:00:00
544082   827318         307  2017-07-13 11:11:42     2017-07-13 00:00:00
544081   827037         307  2017-07-13 06:43:47     2017-07-13 00:00:00
543622  1053642         306  2018-09-07 06:47:05     2018-09-07 00:00:00
543621  1053622         306  2018-09-07 05:48:43     2018-09-07 00:00:00
543620  1053620         306  2018-09-07 05:45:39     2018-09-07 00:00:00
543619  1053427         306  2018-09-06 10:50:43     2018-09-06 00:00:00
543618  1052848         306  2018-09-04 13:51:55     2018-09-04 00:00:00
543617  1052764         306  2018-09-04 10:58:10     2018-09-04 00:00:00

       active   spn fmi PartialDerate target
546865   True  1569  31             1      0
546864   True  5394   5             0      1
546778   True  1569  31             1      0
546602   True  1569  31             1      0
546601   True   639   2             0      1
546600   True   639   2             0      1
546549   True  1569  31             1      0
546548   True   641  31             0      1
546537   True  1569  31             1      0
546080   True  1569  31             1      0
546078   True  6802  31             0      1
546077   True  4340   5             0      1
544405   True  1569  31             1      0
544404   True  4364  18             0      1
544401   True  5394   5             0      1
544086   True  1569  31             1      0
544085   True  5743   9             0      1
544084   True  5848   9             0      1
544083   True   639   2             0      1
544082   True   639   2             0      1
544081   True   639   2             0      1
543622   True  1569  31             1      0
543621   True  4094  31             0      1
543620   True  3226  20             0      1
543619   True  4094  31             0      1
543618   True   639   2             0      1
543617   True  3226  20             0      1

In [45]:
#df3 = pd.merge(dfW, faults, left_index=True, right_index=True)
df3 = pd.merge(dfW, faults, on='RecordID')

In [ ]:
df4= faults.merge(dfW, on='RecordID', how='left', indicator=True)
df4